
// Topbar
// -------------------------
$topbar-bg                                      : #040836 !default;
$topbar-link-color                              : $white !default;
$topbar-link-hover-color                        : $theme-color !default;
$topbar-color                                   : $light-gray !default;
$topbar-border                                  : 0 !default;
$topbar-font-size                               : 12px !default;
$topbar-icon-color                              : $theme-color !default;
$topbar-icon-font-size                          : 14px !default;
$topbar-text-transform                          : none !default;
$topbar-padding                            		: 0 !default;

//// Header

$header-main-padding : 30px 0 !default; 
$header-main-margin : 0 !default; 
$header-bg-color: #ffffff !default;


$massbottom-head-bg		 : $theme-color !default;
$massbottom-head-padding : 6px 9px !default;
$massbottom-head-color   : $theme-color !default;
$massbottom-head-border-color: darken($massbottom-head-bg,4%)!default; 

/**
 *
 */

 $mainmenu-bg: #222222 !default;




// Footer
// -------------------------  
$footer-bg                                      : #040836 !default;
$footer-color                                   : $light-gray !default;
$footer-transform                               : none !default;
$footer-font-size                               : 14px !default; 
$footer-border                                  : none !default;
$footer-padding-top                             : 100px !default;
$footer-padding-bottom                          : 0px !default;
$footer-text-hightlight                         : $white !default;
$footer-link-font-size							: 14px !default;
$footer-column-margin                           : 0 0 30px 0 !default;
$footer-link-color                              : $light-gray !default;
$footer-link-hover-color                        : $theme-color !default;
$footer-icon-color                              : darken($white, 20%) !default;
$footer-icon-font-size                          : 13px !default;
$footer-heading-font-size                       : 18px !default;
$footer-heading-color                           : $white !default;
$footer-heading-margin                          : 30px 0 !default;
$footer-heading-padding                         : 0 !default;
$footer-heading-display                         : none !default;
$footer-heading-transform                       : uppercase !default;
$footer-list-transform                          : none !default;
$footer-list-font-size                          : 14px !default; 
$footer-list-margin                             : 0 0 10px !default;
$footer-list-light-height                       : 2.5 !default;  
$footer-heading-fweight                         : 700 !default;
$footer-heading-ffamily                         : $headings-font-family !default;

$footer-newsletter-padding                      : 25px !default;
$footer-newsletter-bg                           : $theme-color !default;
$footer-newsletter-color                        : #484848 !default;
$footer-newsletter-heading-font-size            : 18px !default;

$footer-top-bg 									: $theme-color !default;
$footer-top-color  								: $white !default;
$footer-top-padding-top							: 12px !default; 
$footer-top-padding-bottom						: 12px !default;
$footer-top-font-size							: 18px !default;
$footer-top-letter-spacing						: 2px !default;
$footer-top-border-color 						: rgba(0, 0, 0, 0.1);
// Copyright
// -------------------------

 // Copyright
// -------------------------
$copyright-bg                                   : none !default;
$copyright-color                                : $black !default;
$copyright-link-color                           : $black !default;
$copyright-padding-top                          : 45px !default;
$copyright-padding-bottom                       : 50px !default;
$copyright-font-size							: 12px !default; 
$copyright-font-weight							: 400 !default;

$del-font-size									: 12px !default;
$del-color										: #999999;