//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $line-height-computed;
  list-style: none;
  background-color: $breadcrumb-bg;
  /* border-radius: $border-radius-base; */

  > li {
    display: inline-block;
    &:after {
      content: "#{$breadcrumb-separator}"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 0 0 10px;
      color: $breadcrumb-color;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  > a:after {
    content: "#{$breadcrumb-separator}"; // Unicode space added since inline-block means non-collapsing white-space
    padding: 0 0 0 10px;
    color: $breadcrumb-color;
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
