// Core variables and mixins
@import "../../bootstrap/variables";
@import "vars/vars";
@import "../../bootstrap/mixins";

@import "../../components/mixins";
@import "../../components/variables";
@import "../../opalhotel/3rd";

@import "../../opalhotel/styles";
@import "../../opalhotel/form";
@import "../../opalhotel/widgets";

.opalhotel-comment-form .comment-form-author, 
.opalhotel-comment-form .comment-form-email {
	width: 49.69%;
}
.opalhotel-comment-form input[type="submit"] {
	color: #000;
	font-weight: 500;
}

// .horizontal-form {
// 	background-color: $theme-color;
// }

// .button.button-theme {
// 	background-color: $theme-color-second;
// }

// .opalhotel_form_section {
// 	padding: 0;
// }
// .button.button-primary-inverse {
// 	font-size: 12px;
// 	font-weight: 900;
// }
// 
.room-overlap.style-2 {
	.room-content-wrapper {
		.room-title {
			font-weight: 400;
			margin-bottom: 5px;
		}
		.opalhotel-price {
			.price-value {
				color: $theme-color-second;
			}
		}
		.link-reservation {
			color: $theme-color;
			&:hover {
				border-color: $theme-color;
				background-color: $theme-color;
			}
		}
	}
}
.widget_opalhotel-check-available {
	background-image: none;
	background-color: $theme-color-second;
	.button.button-primary {
		background-color: $theme-color;
		border-color: $theme-color;
		color: #000;
		display: block;
		width: 100%;
		font-weight: 500;
	}
}
@media screen and (max-width: 979px) {
	.room-overlap .room-description {
        display: none;
    }
}
@media screen and (max-width: 799px) {
	.room-overlap .link-reservation {
        display: inline-block;
    }
}
@media screen and (max-width: 767px) {
	.room-overlap .room-description {
        display: block;
    }
}