/*
Theme Name: paradise
Theme URI: http://www.wpopal.com/product/paradise/
Author: Opal Team
Author URI: https://www.wpopal.com/
Description: In 2016, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: paradise

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*------------------------------------------------------------------
[Table of contents]
1. Utilities
2. Base
3. Layout
4. Page
5. Post
6. Form
7. Responsive
8. Widget

-------------------------------------------------------------------*/
@import "../../bootstrap";

@import "../../components/variables";
@import "vars/vars";

/* Core CSS*/
@import "../../bootstrap/scaffolding";
@import "../../bootstrap/type";
@import "../../bootstrap/forms";
@import "../../bootstrap/buttons"; 

/* 1. Utilities */
@import "../../components/mixins";

/* 2. Base */
@import "../../components/base";
@import "../../components/typo";

/* 3. Layout */
@import "../../components/template-layout";
@import "../../components/widget-layout";

/* 8. Widget */
@import "../../components/widgets";
@import "../../components/nav";

/* 4. Page */
@import "../../components/page";

/* 5. Post */
@import "../../components/post-formats";
@import "../../components/post-single";
@import "../../components/custom-posttype";
@import "../../components/events";

/* 6. Form */
@import "../../components/elements";
@import "../../components/vc";

/* 7. Responsive */
@import "../../components/responsive";

body {
	font-weight: $font-weight-base;
}
.widget-text-heading {
	text-transform: none;
	.widget-heading {
		background-image: none;
		padding: 0;
		font-weight: 500;
		font-family: $font-family-base;
		letter-spacing: -2px;
		box-direction: normal;
		-moz-box-direction: normal;
		-webkit-box-direction: normal;
		box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-box-orient: vertical;
		display: flex;
		flex-direction: column;
		> span {
			&.description,
			&.widget-desc {
				text-transform: none;
				font-style: italic;
				color: inherit;
				font-size: 24px;
				font-family: $headings-font-family;
				padding: 0;
				font-weight: 400;
				box-ordinal-group: 2;
				-webkit-box-ordinal-group: 2;
				-moz-box-ordinal-group: 2;
				order: -1;
				margin: 0 0 5px;
				letter-spacing: -1px;
			}
		}
	}
	&.style-5 {
		.widget-heading {
			background-image: none;
			font-style: italic;
			font-family: $headings-font-family;
		}
	}
}

#pbr-footer {
	.widget-text-heading.style-3 {
		.widget-heading {
			font-size: 20px;
			font-style: italic;
			font-family: $headings-font-family;
			font-weight: 400;
			letter-spacing: -1px;
			margin-bottom: 20px;
		}
	}
}
.pbr-footer .footer-04 .widget .widget-title, .pbr-footer .footer-04 .widget .widgettitle {
	font-size: 20px;
	font-style: italic;
	font-family: $headings-font-family;
	font-weight: 400;
	letter-spacing: -1px;
	margin-bottom: 20px;
}

#content .vc_row{
    .#{$block-selector} {
        .#{$block-heading-selector} {
            	font-size: 40px;
            	padding-bottom: 0;
              	text-transform: none;
              	color: $theme-color-second;
              	background: none;
              	font-weight: 500;
              	font-family: $font-family-base;
              	letter-spacing: -2px;
              	margin-bottom: 40px;
              	&:after {
                	content: none;
              	}
              	.description, .widget-desc{
                  	font-size: 24px;
                  	color: $black;
                  	font-family: $headings-font-family;
              }
        }
    }
}

.mailchimp-04 .widget_mc4wp_form_widget .newsletter.row .wpb_heading {
	@include rtl-padding-left(0);
	font-style: italic;
	font-weight: 400;
	letter-spacing: -1px;
	&:before {
		content: none;
	}
}

.navbar-mega .navbar-nav > li > a {
	font-weight: 500;
}
.header-main .reservation-link {
	font-weight: 500;
	color: #000;
	background-color: $theme-color;
}
.pbr-breadscrumb-inner .breadcrumb > li + li::before, 
.pbr-breadscrumb-inner .breadcrumb > a + li::before {
	margin-top: -4px;
}
a.tribe-events-gcal, a.tribe-events-ical {
	color: #000 !important;
	font-weight: 500 !important;
	letter-spacing: -1px !important;
	padding: 12px 30px !important;
}
.entry-date,
.pbr-pagination .pagination > li span.prev, 
.pbr-pagination .pagination > li span.next, 
.pbr-pagination .pagination > li a.prev, 
.pbr-pagination .pagination > li a.next {
	color: #000;
}
.scrollup {
	line-height: 54px;
	color: #000 !important;
}
.widget_archive li > a::before, 
.widget_categories li > a::before, 
.widget_links li > a::before, 
.widget_meta li > a::before, 
.widget_nav_menu li > a::before, 
.widget_pages li > a::before, 
.widget_recent_entries li > a::before {
	margin-top: -3px;
}
.comment-form .form-submit .btn {
	color: #000;
	font-weight: 500;
	letter-spacing: -1px;
}
.pbr-pagination .pagination > li span, .pbr-pagination .pagination > li a {
	font-weight: 500;
}
.vc_toggle.vc_toggle_active .vc_toggle_title > h4 {
	color: #000;
}
.vc_toggle.vc_toggle_active .vc_toggle_title .vc_toggle_icon {
	border-color: #000 !important;
}
.vc_toggle.vc_toggle_active .vc_toggle_title .vc_toggle_icon::before, 
.vc_toggle.vc_toggle_active .vc_toggle_title .vc_toggle_icon::after {
	background-color: #000 !important;
}
.wpcf7-form .contact-form-3 .wpcf7-submit, 
.widget_mc4wp_form_widget .contact-form-3 .wpcf7-submit {
	font-weight: 500;
}
#pbr-topbar ul.list-inline > li:last-child {
	@include rtl-padding-right(0);
}