
/**
 * Visual Composer Icons
 */
  .vc_element-icon{
  	 background-size: cover;
  }

 #pbr_brands .vc_element-icon {
 	background-image: url(../images/news/16.png);
 }
 #pbr_testimonials .vc_element-icon {
 	background-image: url(../images/news/17.png);
 }
 .vc_element-icon.icon-wpb-news-slideshow{
 	background-image: url(../images/news/6.png);
 }

 .vc_element-icon.icon-wpb-news-1{
 	background-image: url(../images/news/1.jpg);
 }
 .vc_element-icon.icon-wpb-news-2{
 	background-image: url(../images/news/2.png);
 }
 .vc_element-icon.icon-wpb-news-3{
 	background-image: url(../images/news/3.jpg);
 }
 .vc_element-icon.icon-wpb-news-4{
 	background-image: url(../images/news/4.png);
 }
 .vc_element-icon.icon-wpb-news-5{
 	background-image: url(../images/news/5.jpg);
 }
 .vc_element-icon.icon-wpb-news-7{
 	background-image: url(../images/news/7.jpg);
 }
.vc_element-icon.icon-wpb-news-8{
 	background-image: url(../images/news/8.jpg);
 }
 .vc_element-icon.icon-wpb-news-9{
 	background-image: url(../images/news/9.jpg);
 }
 .vc_element-icon.icon-wpb-news-10{
 	background-image: url(../images/news/10.jpg);
 }
 .vc_element-icon.icon-wpb-news-11{
 	background-image: url(../images/news/11.jpg);
 }
  .vc_element-icon.icon-wpb-news-12{
 	background-image: url(../images/news/12.jpg);
 }
  .vc_element-icon.icon-wpb-news-13{
 	background-image: url(../images/news/13.jpg);
 }

   .vc_element-icon.icon-wpb-news-14{
 	background-image: url(../images/news/14.jpg);
 }

   .vc_element-icon.icon-wpb-news-15{
 	background-image: url(../images/news/15.jpg);
 }

   .vc_element-icon.icon-wpb-news-16{
 	background-image: url(../images/news/16.jpg);
 }

.vc_element-icon.icon-wpb-widgets-1{
	background-image:url(../images/widgets/1.png);
}

.vc_element-icon.icon-wpb-widgets-2{
	background-image:url(../images/widgets/2.png);
}

.vc_element-icon.icon-wpb-widgets-3{
	background-image:url(../images/widgets/3.png);
}

.vc_element-icon.icon-wpb-widgets-4{
	background-image:url(../images/widgets/4.png);
}

.vc_element-icon.icon-wpb-widgets-5{
	background-image:url(../images/widgets/5.png);
}

.vc_element-icon.icon-wpb-widgets-6{
	background-image:url(../images/widgets/6.png);
}

.vc_element-icon.icon-wpb-widgets-7{
	background-image:url(../images/widgets/7.png);
}

.vc_element-icon.icon-wpb-widgets-8{
	background-image:url(../images/widgets/8.png);
}

.vc_element-icon.icon-wpb-widgets-9{
	background-image:url(../images/widgets/9.png);
}

.vc_element-icon.icon-wpb-widgets-10{
	background-image:url(../images/widgets/10.png);
}

.vc_element-icon.icon-wpb-widgets-11{
	background-image:url(../images/widgets/11.png);
}

.vc_element-icon.icon-wpb-widgets-12{
	background-image:url(../images/widgets/12.png);
}

.vc_element-icon.icon-wpb-widgets-13{
	background-image:url(../images/widgets/13.png);
}

.vc_element-icon.icon-wpb-widgets-14{
	background-image:url(../images/widgets/14.png);
}

.vc_element-icon.icon-wpb-widgets-15{
	background-image:url(../images/widgets/15.png);
}

.vc_element-icon.icon-wpb-widgets-16{
	background-image:url(../images/widgets/16.png);
}

.vc_element-icon.icon-wpb-widgets-17{
	background-image:url(../images/widgets/17.png);
}

.vc_element-icon.icon-wpb-widgets-18{
	background-image:url(../images/widgets/13.png);
}

.vc_element-icon.icon-wpb-widgets-19{
	background-image:url(../images/widgets/19.png);
}

.vc_element-icon.icon-wpb-widgets-20{
	background-image:url(../images/widgets/20.png);
}

.vc_element-icon.icon-wpb-widgets-21{
	background-image:url(../images/widgets/21.png);
}

.vc_element-icon.icon-wpb-widgets-22{
	background-image:url(../images/widgets/22.png);
}

.vc_element-icon.icon-wpb-hotel-1{
	background-image:url(../images/hotel/1.png);
}

.vc_element-icon.icon-wpb-hotel-2{
	background-image:url(../images/hotel/2.png);
}

.vc_element-icon.icon-wpb-hotel-3{
	background-image:url(../images/hotel/3.png);
}

.vc_element-icon.icon-wpb-hotel-4{
	background-image:url(../images/hotel/4.png);
}

.vc_element-icon.icon-wpb-hotel-5{
	background-image:url(../images/hotel/5.png);
}

.vc_element-icon.icon-wpb-event-1{
	background-image:url(../images/event/1.png);
}

.vc_element-icon.icon-wpb-event-2{
	background-image:url(../images/event/2.png);
}

.customize-control-PBR_Layout{
	background:#fff;
	padding:30px;
}
#update-nag,.update-nag{
	display:block;
}