$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";

$brand-primary   					: #f6d125;
$brand-success						: #3cbb28;
$brand-info							: #005bb0;
$brand-warning						: #fabd47;
$link-hover-color					: #f6d125;
$headings-font-family				: 'PLayfair Display', serif;
$font-family-base					: 'Poppins', sans-serif;
$navbar-link-font-family			: 'Poppins', sans-serif;
$font-size-base						: 14px;
$font-weight-base					: 300;
$nav-tabs-active-link-hover-color	: #f6d125; 
$theme-color						: #f6d125;
$theme-color-second					: #1a21bb;

/*boostrap var*/
$component-active-bg:       		$brand-primary;
$btn-primary-bg:                 	$brand-primary;
$btn-primary-color:              	#000;
$btn-primary-border:             	darken($btn-primary-bg, 5%);
$input-border-focus:             	$brand-primary;
$pagination-active-bg:              $brand-primary;
$pagination-active-border:          $brand-primary;
$label-primary-bg:            		$brand-primary;
$label-link-hover-color:      		$brand-primary;
$modal-content-border-color:        $brand-primary;
$progress-bar-bg:             		$brand-primary;
$panel-primary-border:        		$brand-primary;
$panel-primary-heading-bg:    		$brand-primary;
$breadcrumb-active-color:       	$brand-primary;
$headings-font-weight:				600;

/*theme var*/
$bo-counter-color:                   $brand-primary;
$bo-list-a-color-hover:                   $brand-primary;
$bo-list-primary:                         $brand-primary;  
$bo-blockquote-icon-background  		: $brand-primary;

$element-color-primary        			: $theme-color;
$btn-outline-bg                         : $theme-color; 
$btn-outline-inverse-hover-bg           : $theme-color;
$topbar-link-hover-color                : $theme-color;
$topbar-color							: #fff;
$topbar-bg								: $theme-color-second;
$massbottom-head-bg		 				: $theme-color;
$massbottom-head-color   				: $theme-color;
$footer-link-hover-color                : $theme-color;
$footer-newsletter-bg                   : $theme-color;
$copyright-link-color                   : $theme-color;
$navbar-dropdown-link-hover-color       : $theme-color;
$block-module-highlighted-bg                    : $theme-color;
$block-module-highlighted-border                : solid 2px $theme-color;
$block-sidebar-link-hightlight-hover-color      : $theme-color;