/*
Theme Name:     paradise-child
Description:    
Author:         admin
Template:       paradise

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/
.horizontal-form{
	background: #99538c;
}

.widget.widget_opalhotel-check-available {
    background-color: #99538c;
}

.home .wpb_revslider_element{
	margin-bottom: 0px;
}
.home .opalhotel-catalog-thumbnail{
	text-align: center;
}
.home article.page{
	margin-bottom: 0;
}

.pbr-footer{
	background: none;
}

#pbr-topbar{
    background: #99538c;
}	

.left-top-bar span{
	color: #fff;
}
.pbr-pagination .pagination > li span.prev, .pbr-pagination .pagination > li span.next, .pbr-pagination .pagination > li a.prev, .pbr-pagination .pagination > li a.next {
    background: #99538c;
    border-color: #99538c;
}
.opalhotel-carousel-rooms .owl-carousel-play .carousel-control{
	background: #99538c;
}
.pbr-contact-information .item span{
	margin-top: 18px;
}
.pbr-contact-information .address.item span{
	margin-top: 7px;
}
.language.wpml-languages{
	padding: 0 30px;
}
.language.wpml-languages a:first-child{
	margin-right: 10px;
}
#pbr-topbar .user-login {
	width: 100%;
	text-align: right;
}
#pbr-topbar .user-login ul.list-inline li {
    padding: 0px 15px;
}

#pbr-topbar .user-login ul.list-inline li:first-child {
    border-left: none;
    width: auto;
}

#pbr-topbar .user-login ul.list-inline {
	display: inline-block;
}
#pbr-topbar .user-login ul.list-inline li {
    float: left;
    display: block;
    width: auto;
    padding: 7px 30px;
    text-align: right;
}

#pbr-topbar.pbr-topbar-light .user-login ul.list-inline li {
    padding: 0px 15px;
}

#pbr-topbar.pbr-topbar-light .user-login ul.list-inline li:first-child {
    border-left: none;
    width: auto;
}

#pbr-topbar.pbr-topbar-light .user-login ul.list-inline {
	display: inline-block;
}
#pbr-topbar.pbr-topbar-light .user-login ul.list-inline li {
    float: left;
    display: block;
    width: auto;
    padding: 7px 30px;
    text-align: right;
}
.horizontal-form header.heading-form{
	padding: 35px 30px;
}
@media(max-width: 414px){
	#pbr-topbar.pbr-topbar-light .col-xs-6{
		text-align: center;
	}
	#pbr-topbar.pbr-topbar-light .logo-wrapper{
		max-width: 100%;
	}
	.language.wpml-languages{
		padding: 0 ;
		text-align: center;
	}
	#pbr-topbar.pbr-topbar-light .user-login{
		width: 100%;
	}
}