
/**
 * 6.10 Contributor Page
 * -----------------------------------------------------------------------------
 */

.contributor {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:      border-box;
	padding: 48px 10px;
}

.contributor:first-of-type {
	padding-top: 24px;
}

.contributor-info {
	margin: 0 auto;
	max-width: 474px;
}

.contributor-avatar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	margin: 0 30px 20px 0;
	padding: 2px;
}

.contributor-name {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
}

.contributor-bio a {
	text-decoration: underline;
}

.contributor-bio a:hover {
	text-decoration: none;
}

.contributor-posts-link {
	display: inline-block;
	line-height: normal;
	padding: 10px 30px;
}

.contributor-posts-link:before {
	content: "\f443";
}


/**
 * 6.11 404 Page
 * -----------------------------------------------------------------------------
 */

.page-template-404 {
	.page-header {
		border-bottom: none;
		padding-bottom: 0;
		margin: 15px 0 0;
	}
	.page-title {
		color: $theme-color;
		font-weight: 700;
		font-size: 200px;
		text-shadow: 0 0 10px rgba(0,0,0,.5);
		-moz-text-shadow: 0 0 10px rgba(0,0,0,.5);
		-webkit-text-shadow: 0 0 10px rgba(0,0,0,.5);
		margin-bottom: 0;
	}
	.page-content {
		> h2 {
			margin: 70px 0 40px;
			font-size: 56px;
		}
		> p {
			font-size: 24px;
			color: $light-gray;
		}
	}
	.page-action {
		font-size: 24px;
		color: $light-gray;
	}
	.error-404-content {
		margin-bottom: 160px;
	}
	@media screen and (max-width: 479px) {
		.page-title {
			font-size: 100px;
		}
		.page-content {
			> h2 {
				font-size: 34px;
			}
		}
	}
}

/*
 * Single post
 */