/**
 * 6.3 Entry Meta
 * -----------------------------------------------------------------------------
 */
.entry-meta,
.created {
	margin-top: 20px;
	position: relative;
	padding-top: 20px;
	overflow: hidden;
	border-top: 1px solid #d8d8d9;
}

.tag-links a {
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 12px;
	color: #777;
	margin:0px 4px 7px 0px !important;
	line-height: 28px;
	padding: 0 10px;
	&:hover {
		color: $theme-color;
	}
}

.byline {
	display: none;
}

.entry-date,
.meta-sep,
.entry-category,
.comments-link,
.edit-link,
.author {
	font-size: 12px;
	text-transform: uppercase;
	color: $light-gray;
	@include rtl-margin-right(10px);
	line-height: 28px;
	> a {
		@include rtl-margin-left(5px);
		color: $link-color;
		&:hover {
			color: $theme-color;
		}
	}
	@media screen and (max-width: 479px) {
		font-size: 11px;
	}
}
.entry-date {
	color: $white;
	background-color: $theme-color;
	padding: 0 10px;
}
.edit-link {
	@include rtl-float-left();
}
.entry-category {
	ul {
		margin: 0 0 0 5px;
		padding: 0;
		display: inline-block;
		li {
			margin: 0;
			padding: 0;
		}
	}
}

.bypostauthor{
	text-decoration: none;
}

.wp-caption .wp-caption-text, 
.entry-caption, 
.gallery-caption {
	font-style: italic;
}

/**
 * 6.4 Entry Content
 * -----------------------------------------------------------------------------
 */ 

.entry-content .more-link {
	white-space: nowrap;
}


.post-categories{
	li{
		display: inline-block;
		list-style: none;
		list-style-type: dashed
	}
}

/**
 * Navigation links
 */
.nav-links{
	margin-bottom: 30px;
	a {
		width: 50%;
		@include rtl-float-left();
		> div {
			border: 1px solid $border-color;
			padding: 30px;
			font-size: 18px;
			font-family: $headings-font-family;
			&.prev-post {
				@include rtl-margin-right(5px);
			}
			&.next-post {
				@include rtl-margin-left(5px);
			}
			.meta-nav {
				text-transform: uppercase;
				font-size: 12px;
				color: $theme-color;
				letter-spacing: 3px;
				display: block;
				margin-bottom: 5px;
			}
			@media screen and (max-width: $screen-xs-min) {
				padding: 15px;
			}
		}
		@media screen and (max-width: 479px) {
			width: 100%;
			float: none;
			> div {
				&.prev-post {
					@include rtl-margin-right(0px);
					margin-bottom: 10px;
				}
				&.next-post {
					@include rtl-margin-left(0px);
				}
			}
		}		
	}
}

.entry-content-page{ 
    .edit-link{
        background:#000;
       
        position: absolute;
        top: 0;
        right: 0;
        padding:5px 6px;
        a{
            font-size: 11px;
          color: #FFF!important;
        }  
        z-index: 10000;
    }
    position:relative;
}


/* Mediaelements */

.hentry .mejs-container {
	margin: 12px 0 18px;
}

.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
	background: #000;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #24890d;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: rgba(255, 255, 255, .33);
}

.hentry .mejs-container .mejs-controls .mejs-time {
	padding-top: 9px;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}

.hentry .mejs-overlay-loading {
	background: transparent;
}

.hentry .mejs-overlay-button {
	background-color: #fff;
	background-image: none;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.8);
	color: #000;
	height: 36px;
	margin-left: -24px;
	width: 48px;
}

.hentry .mejs-overlay-button:before {
	-webkit-font-smoothing: antialiased;
	content: '\f452';
	display: inline-block;
	font: normal 32px/1.125 Genericons;
	position: absolute;
	top: 1px;
	left: 10px;
}

.hentry .mejs-controls .mejs-button button:focus {
	outline: none;
}

.hentry .mejs-controls .mejs-button button {
	-webkit-font-smoothing: antialiased;
	background: none;
	color: #fff;
	display: inline-block;
	font: normal 16px/1 Genericons;
}

.hentry .mejs-playpause-button.mejs-play button:before {
	content: '\f452';
}

.hentry .mejs-playpause-button.mejs-pause button:before {
	content: '\f448';
}

.hentry .mejs-volume-button.mejs-mute button:before {
	content: '\f109';
	font-size: 20px;
	position: absolute;
	top: -2px;
	left: 0;
}

.hentry .mejs-volume-button.mejs-unmute button:before {
	content: '\f109';
	left: 0;
	position: absolute;
	top: 0;
}

.hentry .mejs-fullscreen-button button:before {
	content: '\f474';
}

.hentry .mejs-fullscreen-button.mejs-unfullscreen button:before {
	content: '\f406';
}

.hentry .mejs-overlay:hover .mejs-overlay-button {
	background-color: #24890d;
	color: #fff;
}

.hentry .mejs-controls .mejs-button button:hover {
	color: #41a62a;
}

.archive-header {
	margin-bottom: 30px;
}

article{
	position: relative;
	&.post {
		margin-bottom: 55px;
		.entry-content-wrapper {
			padding: 0 0 20px;
		}
		.post-sub-content {
			.entry-date {
				padding: 0 15px;
			}
		}
		.entry-thumb {
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.entry-title {
			margin: 0px 0px 15px;
			font-weight: 400;
			font-size: 20px;
			line-height: 1.5;
			@media screen and (max-width: 979px) {
				font-size: 18px;
			}
		}
		.entry-footer {
			margin-top: 20px;
			.clearfix {
				border-top: 1px solid $border-color;
				padding-top: 25px;
			}
		}
		.post-preview {
			.post-thumbnail {
				margin-bottom: 25px;
			}
			a.post-thumbnail {
				display: inline-block;
			}
			.carousel-control {
				@include rtl-left(30px);
				height: 30px;
				line-height: 28px;
				margin-top: -15px;
				&.right {
					@include rtl-left(auto);
					@include rtl-right(30px);
				}
			}
		}
		.gallery {
			overflow: hidden;
		}
		&.sticky {
			border: 1px solid $border-color;
			padding: 25px 30px;
			.entry-title {
				position: relative;
				&:before {
					font-family: 'FontAwesome';
					content: "\f08d";
					@include rtl-margin-right(10px);
				}
			}
		}
		&.post_format-post-format-link {
			.post-preview {
				padding: 20px 30px;
				border: 1px solid $border-color;
				margin: 0 30px;
			}
		}
		table {
			width: 100%;
			max-width: 100%;
			margin-bottom: $line-height-computed;
			// Cells
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th,
					> td {
						padding: $table-cell-padding;
						line-height: $line-height-base;
						vertical-align: top;
						border-top: 1px solid $table-border-color;
					}
				}
			}
			// Bottom align for column headings
			> thead > tr > th {
				vertical-align: bottom;
				border-bottom: 2px solid $table-border-color;
			}
			// Remove top border from thead by default
			> caption + thead,
			> colgroup + thead,
			> thead:first-child {
				> tr:first-child {
					> th,
					> td {
					// border-top: 0;
					}
				}
			}
			// Account for multiple tbody instances
			> tbody + tbody {
				border-top: 2px solid $table-border-color;
			}

			// Nesting
			table {
				background-color: $body-bg;
			}
		}
		.post-password-form {
			p {
				overflow: hidden;
			}
			label {
				@include rtl-float-left();
				@include rtl-margin-right(2px);
			}
			input[type="password"] {
				padding: 5px 10px;
				border: 1px solid $border-color;
			}
			input[type="submit"] {
				color: $white;
				background-color: $theme-color;
				border: none;
				font-size: 14px;
				padding: 5px 15px;
				height: 34px;
				line-height: 24px;
				text-transform: uppercase;
				@include rtl-float-left();
			}
		}
	}	
	header{
		position: relative;
		.cat-links{
			a{ 
				color: $theme-color;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
			}
		}
	}

	h5.entry-title {
		line-height: 1.4;
		margin-top: 15px;
	}
	
	.entry-excerpt {
		line-height: 30px;
	}
	
	.post-format a{
		display: block;
		height: 40px;
		width: 40px;
		line-height:39px;
		background:$theme-color;
	 	color: #FFFFFF;
	 	text-align: center;
	 	position: absolute;
	 	top: 30px;
	 	@include rtl-left(30px);

	}
	&.portfolio {
		padding: 25px 30px 30px;
		background-color: $white;
		margin-bottom: 30px;
		.title-post,
		.entry-title {
			margin-top: 0;
			font-weight: 400;
			font-family: $font-family-base;
		}
		.portfolio-meta-info {
			> ul {
				> li {
					margin-bottom: 10px;
				}
			}
		}
		footer.entry-meta {
			padding: 0;
			margin: 0;
			&:before {
				content: none;
			}
		}
	}
}

body.search-results {
	article{
		&.page {
			margin-bottom: 55px;
			.entry-content-wrapper {
				padding: 0 0 20px;
			}
			.post-sub-content {
				.entry-date {
					padding: 0 15px;
				}
			}
			.post-content {
				background-color: $white;
			}
			.entry-thumb {
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.entry-title {
				margin: 0px 0px 15px;
				font-weight: 400;
				font-size: 20px;
				line-height: 1.5;
				@media screen and (max-width: 979px) {
					font-size: 18px;
				}
			}
			.entry-footer {
				margin-top: 20px;
				.clearfix {
					border-top: 1px solid $border-color;
					padding-top: 25px;
				}
			}
			.post-preview {
				.post-thumbnail {
					margin-bottom: 25px;
				}
				a.post-thumbnail {
					display: inline-block;
				}
				.carousel-control {
					@include rtl-left(30px);
					height: 30px;
					line-height: 28px;
					margin-top: -15px;
					&.right {
						@include rtl-left(auto);
						@include rtl-right(30px);
					}
				}
			}
			.gallery {
				overflow: hidden;
			}
			&.sticky {
				.entry-title {
					position: relative;
					&:before {
						font-family: 'FontAwesome';
						content: "\f08d";
						@include rtl-margin-right(10px);
					}
				}
			}
			&.post_format-post-format-link {
				.post-preview {
					padding: 20px 30px;
					border: 1px solid $border-color;
					margin: 0 30px;
				}
			}
			table {
				width: 100%;
				max-width: 100%;
				margin-bottom: $line-height-computed;
				// Cells
				> thead,
				> tbody,
				> tfoot {
					> tr {
						> th,
						> td {
							padding: $table-cell-padding;
							line-height: $line-height-base;
							vertical-align: top;
							border-top: 1px solid $table-border-color;
						}
					}
				}
				// Bottom align for column headings
				> thead > tr > th {
					vertical-align: bottom;
					border-bottom: 2px solid $table-border-color;
				}
				// Remove top border from thead by default
				> caption + thead,
				> colgroup + thead,
				> thead:first-child {
					> tr:first-child {
						> th,
						> td {
						// border-top: 0;
						}
					}
				}
				// Account for multiple tbody instances
				> tbody + tbody {
					border-top: 2px solid $table-border-color;
				}

				// Nesting
				table {
					background-color: $body-bg;
				}
			}
		}	
		header{
			position: relative;
			.cat-links{
				a{ 
					color: $theme-color;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}

		h5.entry-title {
			line-height: 1.4;
			margin-top: 15px;
		}
		
		.entry-excerpt {
			line-height: 30px;
		}
		
		.post-format a{
			display: block;
			height: 40px;
			width: 40px;
			line-height:39px;
			background:$theme-color;
		 	color: #FFFFFF;
		 	text-align: center;
		 	position: absolute;
		 	top: 30px;
		 	@include rtl-left(30px);

		}
		&.portfolio {
			padding: 25px 30px 30px;
			background-color: $white;
			margin-bottom: 30px;
			.title-post,
			.entry-title {
				margin-top: 0;
				font-weight: 400;
				font-family: $font-family-base;
			}
			.portfolio-meta-info {
				> ul {
					> li {
						margin-bottom: 10px;
					}
				}
			}
			footer.entry-meta {
				padding: 0;
				margin: 0;
				&:before {
					content: none;
				}
			}
		}
	}
}

article.page {
	margin-bottom: 30px;
	.entry-content-page {
		p {
			margin-bottom: 20px;
		}
	}
}

.portfolio-meta-info {
	margin: 20px 0 25px;
}

.posts-grid {
	article.post {
		padding: 0;
		.entry-thumb {
			margin-bottom: 15px;
		}
		.entry-content {
			.entry-meta {
				padding-bottom: 0;
				.author {
					@include rtl-margin-right(0px);
				}
			}
			.entry-content-footer {
				border-top: 1px solid $border-color;
				margin:20px -30px 0;
				padding: 15px 30px;
				.entry-comment {
					font-size: 10px;
					color: #999;
					text-transform: uppercase;
					font-family: $headings-font-family;
					ul.list-inline {
						display: inline-block;
						margin: 0 -2px;
						li {
							padding: 0 2px;
							a {
								color: #999;
								&:hover {
									color: $theme-color;
								}
							}
						}
					}
				}
				@media screen and (max-width: 479px) {
					padding: 15px;
				}
			}
		}
	}
	.col-sm-3 {
		article.post .entry-title {
			font-size: 16px;
		}
	}
}

.single-post {
	background-color: #fafafa;
	article.post {
		.entry-content-wrapper {
			padding: 0 0 40px;
		}
		.entry-title {
			font-size: 36px;
			line-height: 1.2;
			margin: 0 0 20px;
			border-bottom: 1px solid $border-color;
			padding-bottom: 25px;
		}
		.entry-content {
			> p {
				margin-bottom: 30px;
				line-height: 30px;
			}
		}
		.entry-footer {
			padding-bottom: 0;
		}
	}
	.post-navigation {
		margin-bottom: 50px;
	}
	#respond {
		margin-bottom: 60px;
	}
}

.archive-title {
	margin: 0 0 20px;
}

/*------------------------------------*\
    Pagination
\*------------------------------------*/ 
.pbr-pagination {
	overflow: hidden;
	border-top: 1px solid $border-color;
	padding-top: 40px;
	.pagination {
		margin: 0 -5px;
		> li {
			display: inline-block;
			margin: 0 5px;
			span,
			a {
				font-size: 12px;
				text-transform: uppercase;
				line-height: 1;
				display: block;
				border-radius: 3px;
				padding: 10px;
				border: 1px solid $border-color;
				color: #a5a5a5;
				&.prev,
				&.next {
					color: $white;
					background: $theme-color;
					border-color: $theme-color;
					padding: 10px 15px;
				}
			}
			span.current {
				color: $link-color;
				&:hover,
				&:focus {
					background: none;
				}
			}
			a:hover,
			a:focus {
				color: $theme-color;
				border-color: $theme-color;
				background: none;
			}
		}
	}
	.result-count {
		color: $black;
		font-size: 12px;
		margin: 0;
		font-weight: 700;
	}
}
.page-links {
	margin: 10px -10px 0;
	> span,
	a {
		display: inline-block;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 5px 10px;
		line-height: 1;
	}
	a:hover,
	> span {
		color: $theme-color;
		text-decoration: underline;
	}
	span.page-links-title {
		color: $gray-base;
		text-decoration: none;
	}
}

.w-pagination {
	.pbr-pagination {
		text-align: left;
	}
}

/* Pagination for Search Result Page*/ 
.paging-navigation {
	.pagination {
		margin: 0 -10px 0px;
		span,
		a {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 700;
			padding: 5px 10px;
			line-height: 1;
			display: inline-block;
			border: none;
			border-radius: 0;
			margin: 10px 0 0;
		}
		span.current,
		a:hover {
			color: $theme-color;
			text-decoration: underline;
			background-color: transparent;
		}
	}
}

.pagination {
	.nav-links {
		padding: 0;
		a {
			width: auto;
			float: none;
			display: inline-block;
			@include rtl-margin-right(10px);
		}
		span {
			@include rtl-margin-right(10px);
		}
	}	
}

	
/*------------------------------------*\
    Comment List
\*------------------------------------*/
.comments{
	padding: 0 0 50px;
	.pbr-commentlists {
		margin-bottom: 50px;
	}
    .comments-title {
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
        margin: 0 0 25px;
        > span {
        	display: inline-block;
        	@include rtl-padding(0,20px,0,30px);
        	background-color: #fafafa;
			background-image: url('#{$image-theme-path}title-bg.png');
			background-repeat: no-repeat;
			background-position: 0 center;
			position: relative;
			z-index: 1;
        }
        &:after {
			content: "";
			height: 1px;
			width: 100%;
			background-color: $border-color;
			position: absolute;
			left: 0;
			top: 50%;
		}
    }
    .comment-reply-title {
    	font-size: 18px;
        text-transform: uppercase;
        position: relative;
        margin: 0 0 25px;
        > span {
        	display: inline-block;
        	@include rtl-padding(0,20px,0,30px);
        	background-color: #fafafa;
			background-image: url('#{$image-theme-path}title-bg.png');
			background-repeat: no-repeat;
			background-position: 0 center;
			position: relative;
			z-index: 1;
        }
        &:after {
			content: "";
			height: 1px;
			width: 100%;
			background-color: $border-color;
			position: absolute;
			left: 0;
			top: 50%;
		}
    }
    .the-comment{
        padding: 30px 30px 25px;
        overflow: hidden;
        border: 1px solid $border-color;
        margin-bottom: 10px;
    div.avatar{
        @include rtl-float-left();
        @include rtl-margin-right(20px);
        img{
            @include size(50px, 50px);
            @include border-radius(50%);
            @include rtl-margin-right(0);
          }
        }
    }
    .comment-box {
    	overflow: hidden;
    }
    
    .comment-author{
    	font-family: $headings-font-family;
        color: $light-gray;
        font-size:12px;
        margin-bottom: 5px;
        strong {
        	@include rtl-margin-right(10px);
        }
        a {
        	font-size:14px;
        }
    }
    .comment-meta {
        font-size: $font-size-base - 2;
        color: #aaa;
    }
    .comment-text {
        > p:last-child {
            margin-bottom: 0;
        }
    }
    a{
        color: #000;
        &:hover {
        	color: $theme-color;
        }
    }
    ol.commentlists, ul.children {
        list-style: none;
        margin: 0;
        padding: 0;
        table {
			width: 100%;
			max-width: 100%;
			margin-bottom: $line-height-computed;
			// Cells
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th,
					> td {
						padding: $table-cell-padding;
						line-height: $line-height-base;
						vertical-align: top;
						border-top: 1px solid $table-border-color;
					}
				}
			}
			// Bottom align for column headings
			> thead > tr > th {
				vertical-align: bottom;
				border-bottom: 2px solid $table-border-color;
			}
			// Remove top border from thead by default
			> caption + thead,
			> colgroup + thead,
			> thead:first-child {
				> tr:first-child {
					> th,
					> td {
					// border-top: 0;
					}
				}
			}
			// Account for multiple tbody instances
			> tbody + tbody {
				border-top: 2px solid $table-border-color;
			}

			// Nesting
			table {
				background-color: $body-bg;
			}
		}
    }
    ul.children{
    	@include rtl-padding-left(60px);
        @media screen and (max-width: $screen-xs-min) {
        	@include rtl-padding-left(0px);
        }
    }
}

/*------------------------------------*\
    About Author
\*------------------------------------*/
.author-info {
	padding: 30px 20px;
	background-color: #fff;
	margin: 0 0 30px;
	.author-about-container {
		.description {
			.author-title {
				margin: 0 0 15px;
				font-size: 20px;
				text-transform: capitalize;
			}
			.author-description {
				font-size: 16px;
				line-height: 28px;
			}
		}
		> .pull-left {
			@include rtl-padding-right(20px);
			border-radius: 50%;
			img {
				border-radius: 50%;
			}
			@media screen and (max-width: 479px) {
				width: 60px;
			}
		}
	}
}

/*------------------------------------*\
    Related Post
\*------------------------------------*/
#related-posts {
	border-top: 1px solid $border-color;
	padding: 25px 30px 0;
	margin: 0 -30px;
	.related-post-title {
		font-size: 24px;
		margin: 0 0 20px;
		position: relative;
		padding-bottom: 15px;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			@include rtl-left(0);
			@include size(40px,1px);
			background-color: $theme-color;
		}
	}
	
}

/*------------------------------------*\
    Comment Form
\*------------------------------------*/
.comment-form {
	.form-submit {
		margin-bottom: 0;
		margin-top: 20px;
		.btn {
			font-size: 14px;
			text-transform: uppercase;
			border-radius: 3px;
			padding: 12px 40px;
		}
	}
	.commentform-url,
	.commentform-email,
	.commentform-author {
		display: inline-block;
		@include rtl-float-left();
		width: 31%;
		@media screen and (max-width: 639px) {
			float: none;
			width: 100%;
		}
	}
	.commentform-email,
	.commentform-author {
		@include rtl-margin-right(3.5%);
	}
	.form-control {
		background-color: #fff;
	}
}


/*------------------------------------*\
    Single Portfolio
\*------------------------------------*/
.pbr-portfolio-navigator {
	p {
		@include rtl-margin-left(10px);
		a {
			color: $white;
		}
	}	
}