/////////// TEMPLATES LAYOUT ///////////

$app-prefix                      : pbr !default;
$vc-prefix                       : pbr_ !default;

.col-lg-12 .container-full {
  @include container-fixed;
}

.container{ position:relative }

.page-description .wpb-container {
    .container {
        width: 100%;
    }
}

#site-header{
    text-align: center;
    margin: $grid-gutter-width 0;
}

/**
 * Page Style
 */
#main-container {
    @media screen and (max-width: 979px) {
        > .row {
            > div,
            > main {
                width: 100% !important;
            }
        }
    }
}
#page{
    position: relative;
    margin-left:auto;
    margin-right: auto;
    background: transparent;
    overflow-x: hidden;
    &.page-static-left {
	    @include transition(all 0.25s ease-out);
    	&.active {
            @include transition(all 0.25s ease-out);
            @include rtl-margin-left(300px);
            @media screen and (max-width: 1120px) {
                @include rtl-margin-left(0px);
            }
            .sidebar-static-left {
                @include transition(all 0.25s ease-out);
                @include rtl-left(0);
            }    		
        }
        &.active .sidebar-static-left .staticbar-action:before{
            content: "\f060"
        }
        .sidebar-static-left {
            @include transition(all 0.25s ease-out);
            background:#3d4045;
            color: $light-gray;
            position:fixed;
            @include rtl-left( -300px );
            height: 100%;
            position: fixed;
            width: 300px;
            z-index: 99999;
            @include transition(all 0.25s ease-out);
            .inner {    
                position: absolute;
                height: 100%;
                width: 100%;
            }
            #pbr-static-logo {
                margin: 40px 30px;
                text-align: center;
            }
            .staticbar-action {
                background:#3d4045;
                position:absolute;
                @include rtl-right(-32px);
                top: 11px;
                height: 32px;            
                cursor: pointer;
                &:before{
                    color: #686868;
                    content: "\f061";
                    font-size: 12px;
                    height: 32px;
                    width: 32px;
                    font-family: 'FontAwesome';
                    text-align: center;
                    display: block;
                    line-height: 30px;
                    @include transition(all 0.25s ease-out);
                }
                &:hover {
                    &:before {
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .pbr-page-inner {
        overflow: hidden;
    }
}

.page-header {
    margin: 0;
    padding-bottom: 0;
}

body.opalhotel {
    background-color: #fafafa;
}

.search-no-results {
    #main {
        padding-bottom: 60px;
    }
}

/**
 * Topbar layout styles
 */
##{$app-prefix}-topbar{
	@include container-layout-variant( $topbar-color , $topbar-bg , $topbar-link-color );
    padding        : $topbar-padding;
    text-transform : $topbar-text-transform;
    font-size      : $topbar-font-size ;
    i,
    .fa {
        color: $theme-color;
        @include rtl-margin-right(10px);
        font-size: 14px;
    }
    .widget {
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    ul.list-inline {
        margin-bottom: 0;
        > li {
            padding: 20px;
            @include rtl-border-left(1px solid rgba($white,.1));
            &:first-child {
                @include rtl-padding-left(0);
                @include rtl-border-left(none);
            }
            @media screen and (max-width: 799px) {
                padding: 20px 15px;
            }
        }
        @media screen and (max-width: 767px) {
            > li {
                border-left: none;
                padding: 20px 5px;
                i {
                    display: none;
                }
            }
            margin: 0 -5px;
        }
        @media screen and (max-width: 639px) {
            > li {
                i {
                    display: inline-block;
                }
            }
        }
    }
    @media screen and (max-width: 479px) {
        .row {
            .col-xs-2 {
                width: 80%;
                float: right;
            }
            .col-xs-10 {
                width: 0px;
                display: none;
            }
        }
    }
    &.pbr-topbar-light {
        background-color: $white;
        border-bottom: 3px double $theme-color;
        padding: 30px 0;
        a {
            color: $black;
            &:hover {
                color: $theme-color;
            }
        }
        ul.list-inline {
            margin: 0 -30px;
            li {
                float: left;
                display: block;
                width: 55%;
                padding: 7px 30px;
                border-left: 1px solid $border-color;
                span {
                    span {
                        @include rtl-margin-right(20px);
                    }
                }
                a {
                    color: $black;
                    font-size: 14px;
                    display: block;
                    &:hover {
                        color: $theme-color;
                    }
                }
                &:first-child {
                    border-left: none;
                    width: 45%;
                    span {
                        span {
                            font-size: 14px;
                            color: $black;
                        }
                    }
                }
            }
        }
        .widget_awesomeweatherwidget {
            .awesome-weather-wrap {
                background-color: $white !important;
                text-shadow: none;
                .awesome-weather-current-temp {
                    float: none;
                    margin-right: 0;
                    color: $black !important;
                    padding: 0;
                    margin-bottom: 3px;
                    strong {
                        font-weight: 400;
                    }
                }
                .awesome-weather-todays-stats {
                    float: none;
                    padding: 0;
                    width: 100%;
                    font-size: 12px;
                    color: $light-gray;
                }
            }
        }
        .user-login {
            margin-top: 10px;
            ul.list-inline {
                overflow: hidden;
                margin: 0 -15px;
                min-width: 195px;
                li {
                    padding: 7px 15px;
                    &.account-links {
                        width: 100%;
                        float: none;
                        border: none;
                        a {
                            display: inline-block;
                        }
                        span span {
                            @include rtl-margin-right(0);
                        }
                    }
                }
            }
        }
    }
    &.#{$app-prefix}-topbar-absolute {
        background: rgba($black,.6);
    }
    .account-links.dropdown {
        margin-top: 10px;
        .dropdown-toggle {
            img {
                @include rtl-margin(0,10px,0,0);
            }
            .caret {
                margin-top: 6px;
                display: none;
            }
        }
        .dropdown-menu {
            display: none;
        }
    }
    &.pbr-topbar-4 {
        background-color: transparent;
        color: $theme-color-second;
        font-size: 14px;
        padding: 20px 50px;
        line-height: 1;
        i, .fa {
            color: #fff;
            @include rtl-margin-right(5px);
            font-size: 12px;
        }
        .user-login a {
            font-size: 12px;
            text-transform: uppercase;
            color: #ccc;
        }
        ul.list-inline {
            > li {
                padding-top: 0;
                padding-bottom: 0;
                &:last-child {
                    @include rtl-padding-right(0);
                }
            }
        }
        i, span, a {
            display: inline-block;
        }
    }
    &.pbr-topbar-5 {
        background-color: transparent;
        padding: 20px 0;
        line-height: 1;
        ul.list-inline {
            margin: 0;
            > li {
                padding: 0 15px;
                &:last-child {
                    @include rtl-padding-right(0);
                }
            }
        }
        i, .fa {
            color: #fff;
            font-size: 12px;
        }
        .user-login {
            @include rtl-margin-left(15px);
            @include rtl-border-left(1px solid rgba(255,255,255,.1));
        }
    }
}
.topbar-mobile{
    width: auto;
    background: $white;
    display: table;
    z-index: 3;
    .btn-offcanvas{
        background-color:transparent;
    }
    .fa{
        color: $black;
        font-size: 20px;
    }
}
.active-mobile{
    line-height:52px;
    @include size(52px,52px);
    position: relative;
    cursor: pointer;
    @include transition(all 0.3s ease 0s);
    text-align: center;
    &.search-popup {
        line-height: 56px;
    }
    &:hover{
        cursor: pointer;
        .active-content{
            display: block;
            opacity: 1;
            visibility: visible;
            @include rtl-left(0);
            @include rtl-right(auto);
        }
    }
    .active-content{
        position: absolute;
        top: 100%;
        z-index: 99999;
        color: $white;
        padding: 0;
        background-color: lighten($topbar-bg, 5%);
        @include rtl-left(-10000px);
        @include opacity(0);
        position: absolute;
        min-width: 270px;
        visibility: hidden;
        @include rtl-text-align-left();
        @include transition(opacity 0.3s ease 0s);
        .searchform .pbr-search .form-control {
            border: 1px solid $border-color;
        }
    }
    .search-category-container{
        display: none;
    }
    .search-category-input{
        @include font-size(font-size,15px);
        @include rtl-border-radius-topleft(4px);
        @include rtl-border-radius-bottomleft(4px);
        height: 42px;
    }
    .btn-search{
        @include rtl-border-radius-topright(4px);
        @include rtl-border-radius-bottomright(4px);
        .fa{
            color: $white;
            border: none;
            font-size: 16px;
            background-color: transparent;
        }
    }
    @media screen and (max-width: 767px) {
        width: 40px;
    }
}

##{$app-prefix}-logo{
    &.logo-theme{

    }
    &.logo-image{

    }
}
/**
 * Header Layout styles
 */
##{$app-prefix}-masthead{
    position: relative;
    background-color: $header-bg-color;
    margin: $header-main-margin;
    .header-main{
        padding: $header-main-padding;
        position: relative;
        @include transition(.35s);
        .user-login {
            .list-inline {
                margin: 0;
                > li {
                    padding: 0 1px;
                    .btn {
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: 800;
                        padding: 6px 25px 8px;
                        line-height: 20px;
                        @media screen and (max-width: $screen-md-min) {
                            padding: 6px 14px 8px;
                        }
                    }
                    > span {
                        line-height: 34px;
                        color: $white;
                    }
                }
            }
        }
    }
    .logo-wrapper{
        text-align: center;
        @media screen and (max-width: 979px) {
            float: none !important;
        }
    }
    /// header light
    &.#{$app-prefix}-header-light{
        .header-main {
            padding: 0;
        }
        #pbr-mainmenu {
            margin-top: 0;
            .navbar-mega .navbar-nav > li > a {
                padding: 15px 20px;
            }
            #primary-menu {
                display: inline-block;
            }
        }
    }
    &.#{$app-prefix}-header-absolute {
        
    }
    &.#{$app-prefix}-header-4 {
        background-color: transparent;
        .header-main {
            padding: 20px 0;
        }
        .logo-wrapper {
            margin-bottom: 50px;
            @include transition(.3s);
        }
        .navbar-mega-simple {
            margin-top: 0;
            text-align: center;
        }
        .navbar-mega {
            .navbar-nav {
                display: inline-block;
                > li {
                    > a {
                        font-size: 14px;
                        color: #ccc;
                        .caret {
                            color: #ccc;
                        }
                        &:before {
                            content: "";
                            left: 50%;
                            right: 50%;
                            position: absolute;
                            bottom: 0;
                            background-color: $theme-color;
                            height: 2px;
                            @include opacity(0);
                            @include transition(.3s);
                        }
                        &:hover {
                            color: #fff;
                            &:before {
                                @include opacity(1);
                                right: 20px;
                                left: 20px;
                            }
                        }
                    }
                    &.active {
                        > a {
                            color: #fff;
                            .caret {
                                color: #fff;
                            }
                            &:before {
                                @include opacity(1);
                                right: 20px;
                                left: 20px;
                            }
                        }
                    }
                }
            }
        }
        .reservation-link {
            position: absolute;
            @include rtl-right(0);
            top: -5px;
            color: #fff;
            background-color: $theme-color-second;
            border-color: $theme-color-second;
            &:hover {
                background-color: $theme-color;
                border-color: $theme-color;
            }
        }
        &.keep-header.fixed {
            background-color: rgba($black,.8);
            .logo-wrapper {
                margin-bottom: 20px;
            }
        }
    }
    &.#{$app-prefix}-header-5 {
        background-color: transparent;
        .header-main {
            align-items: baseline;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px 0;
        }
        .navbar-mega-simple {
            margin-top: -20px;
            text-align: center;
        }
        .navbar-mega {
            .navbar-nav {
                display: inline-block;
                > li {
                    > a {
                        font-size: 14px;
                        font-weight: 500;
                        color: #ccc;
                        .caret {
                            color: #ccc;
                        }
                        &:before {
                            content: "";
                            left: 50%;
                            right: 50%;
                            position: absolute;
                            bottom: 0;
                            background-color: $theme-color;
                            height: 2px;
                            @include opacity(0);
                            @include transition(.3s);
                        }
                        &:hover {
                            color: #fff;
                            &:before {
                                @include opacity(1);
                                right: 20px;
                                left: 20px;
                            }
                        }
                    }
                    &.active {
                        > a {
                            color: #fff;
                            .caret {
                                color: #fff;
                            }
                            &:before {
                                @include opacity(1);
                                right: 20px;
                                left: 20px;
                            }
                        }
                    }
                }
            }
        }
        .reservation-link {
            color: #000;
            background-color: $theme-color;
            font-weight: 600;
        }
        &.keep-header.fixed {
            background-color: rgba($black,.8);
        }
    }
    &.#{$app-prefix}-header-6 {
        background-color: transparent;
        .header-main {
            padding: 0;
            @media screen and (max-width: 979px) {
                float: none;
                width: 100%;
                .logo-wrapper {
                    float: none !important;
                    @include rtl-margin-left(0);
                    padding: 20px;
                }
            }
        }
        .logo-wrapper,
        .header-inner {
            display: table-cell;
        }
        .logo-wrapper {
            min-width: 270px;
            padding: 40px 0;
            vertical-align: middle;
            @media screen and (max-width: 1279px) {
                min-width: 200px;
                padding: 40px 20px;
            }
        }
        .header-inner {
            width: 1000px;
            background-color: #fff;
            vertical-align: middle;
            @include rtl-padding-right(30px);
        }
        .logo-wrapper {
            background-color: $theme-color-second;
            @include transition(.3s);
        }
        .pbr-mainmenu {
            @include rtl-float-left();
        }
        .reservation-link {
            @include rtl-float-right();
            font-weight: 900;
            color: #fff;
            padding: 15px 30px;
            background-color: $theme-color;
        }
        .navbar-mega .navbar-collapse {
            padding: 0 10px;
        }
        .navbar-mega {
            .navbar-nav {
                > li {
                    > a {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
        &.keep-header.fixed {
            .header-main {
                padding: 0;
            }
            .logo-wrapper {
                padding: 20px;
            }
        }
    }
    &.keep-header.fixed {
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
        @include transition(.35s);
        &.#{$app-prefix}-header-light {
            .header-main {
                padding: 0;
            }
        }
        .header-main {
            padding: 10px 0;
        }
    }
}
.logged-in.admin-bar {
    #pbr-masthead.keep-header.fixed {
        top: 32px;
    }
}

.pbr-header-absolute-wrapper,
.pbr-header-4-wrapper,
.pbr-header-5-wrapper,
.pbr-header-6-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/**
 * Search block layout and styles
 */
.search-box {
    @include rtl-margin-right(20px);
    @media screen and (max-width: $screen-lg-min) {
        @include rtl-margin-right(5px);
    }
}
.toggle-overlay-container{ 
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 100%;
    .search-box {
        width: calc(100% - 86px);
        float: left;
        .input-group{
            width: 90%;
            margin:30px auto;
            border:solid 2px $theme-color;
            .form-control{ height: 40px }
        }
    }
    .dropdown-toggle-button{
        width: 86px;
        height: 100%;
        text-align: center;
        float:right;
        background:#F2f2f2;
        cursor: hand;cursor:pointer;
    }
    z-index: 10;
    background:#FFFFFF;
    &.active{
       opacity: 1;
       visibility:visible;
    }
}

/**
 * Mass Bottom Header Styles
 */
.#{$app-prefix}-massbottom-head {
    .inner{ 
        background:$massbottom-head-bg; 
        padding: $massbottom-head-padding;   
        border-top: $massbottom-head-border-color solid 1px;
        color: $massbottom-head-color;
    } 
}

/**
 * Main menu styles
 */
##{$app-prefix}-mainmenu{
    background: transparent;
    position: relative;
}

/**
 * Page Title Styles
 */
.page-title {
    margin: 0 0 $grid-gutter-width;
    font-size: 24px;
}

/**
 * Breadscrumb content style
 */
.#{$app-prefix}-breadscrumb{
    background-color: transparent;
    overflow-x: hidden;
    background-image: url('#{$image-theme-path}breadcrumb-01.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    padding: 120px 20px;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(4,8,54,.6);
        z-index: 0;
    }
    .breadcrumb{
        padding:0;
        margin:10px 0 0;
        text-transform:uppercase;
        font-size: 12px;
        font-family: $headings-font-family;
        position: relative;
        a {
            color: $white;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .container {
        overflow: hidden;
        z-index: 1;
        > h3 {
            text-align: center;
            margin: 0;
            color: $white;
            font-size: 48px;
            text-transform: uppercase;
            @media screen and (max-width: 639px) {
                font-size: 30px;
            }
        }
    }
}

.post-type-archive-tribe_events,
.single-tribe_events {
    .#{$app-prefix}-breadscrumb {
        background-image: url('#{$image-theme-path}breadcrumb-08.jpg');
    }
}

.pbr-breadscrumb-inner {
    border-bottom: 1px solid $border-color;
    margin-bottom: 60px;
    text-align: center;
    background-color: #fff;
    .breadcrumb {
        display: inline-block;
        margin: 0;
        font-size: 12px;
        li {
            text-transform: uppercase;
            color: $light-gray;
            margin: 0 10px;
            position: relative;
            a {
                color: $light-gray;
                &:hover {
                    color: $theme-color;
                }
            }
            &.active {
                color: $link-color;
            }
        }
        > li,
        > a {
            + li:before {
                content: "";
                @include square(5px);
                border: 1px solid $theme-color;
                @include rotate(45deg);
                position: absolute;
                @include rtl-left(-15px);
                top: 50%;
                margin-top: -1px;
                padding: 0;
            }
            &:after {
                content : none;
            }
        }
        > a {
            margin: 0 10px;
            position: relative;
            &:after {
                content: "";
                @include square(5px);
                border: 1px solid $theme-color;
                @include rotate(45deg);
                position: absolute;
                @include rtl-left(-15px);
                top: 50%;
                margin-top: -1px;
                padding: 0;
            }
        }
    }
}

#pbr-masthead.header-absolute + .site-main {
    .pbr-breadscrumb {
        padding-top: 280px;
    }
}

#main-container {
    &.container {
        .container {
            width: 100% !important;
        }
    }
}

.archive {
    #main {
        padding-bottom: 60px;
    }
}

/**
 * Sidebar
 */
.sidebar-wrapper {
    .sidebar {
        margin-bottom: 80px;
    }
}
.sidebar {
    background-color: #fff;
    padding: 40px 40px 0px;
    overflow: hidden;
    .widget {
        margin-bottom: 50px !important;
        .widget-title {
            background-image: none;
            padding-top: 0;
            position: relative;
            font-size: 18px;
            > span {
                display: inline-block;
                @include rtl-padding(0,20px,0,30px);
                background-color: #fff;
                background-image: url('#{$image-theme-path}title-bg.png');
                background-repeat: no-repeat;
                background-position: 0 center;
                position: relative;
                z-index: 1;
            }
            &:after {
                content: "";
                height: 1px;
                width: 100%;
                background-color: $border-color;
                position: absolute;
                left: 0;
                top: 50%;
            }
        }
    }
    &.wpo-tribe-events-meta {
        padding-bottom: 40px;
    }
}

/**
 * Footer layout styles
 */
.#{$app-prefix}-footer{
    background:$footer-bg;
    color:$footer-color;
    padding-bottom:$footer-padding-bottom;
    font-size: $footer-font-size;
    position: relative;
    z-index: 1;
    .wpb_heading {
        font-size: $footer-heading-font-size;
        color: $footer-heading-color;
        margin: $footer-heading-margin;
        padding: $footer-heading-padding;
        position: relative;
        text-transform: $footer-heading-transform;
    }
    .vc_general.vc_cta3.vc_cta3-style-custom .vc_custom_heading {
        margin: 0 0 10px;
    }
    .footer-top{
        padding-top:$footer-padding-top;
    }
    .footer-center{ }
    .footer-bottom{ }
    .#{$block-selector} {
        .#{$block-heading-selector} {
            font-size: $footer-heading-font-size;
            color: $footer-heading-color;
            margin: $footer-heading-margin;
            padding: $footer-heading-padding;
            position: relative;
            text-transform: $footer-heading-transform;
            &:after {
                content: none;
            }
        }
        ul,
        ul.navbar-nav {
            margin: 0;
            padding: 0;
            > li {
                float: none;
                list-style: none;
                margin: 15px 0 0;
                position: relative;
                @include rtl-padding-left(20px);
                &:before {
                    content: "";
                    @include square(5px);
                    border: 1px solid $theme-color;
                    @include rotate(45deg);
                    position: absolute;
                    @include rtl-left(1px);
                    top: 50%;
                    margin-top: -1px;
                }
                a {
                    color: $footer-link-color;
                    padding: 0;
                    &:hover,
                    &:focus {
                        color: $theme-color;
                        background-color: transparent;
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
    .footer-04 {
        .wpb_text_column p {
            line-height: 24px
        }
        .widget {
            .widget-title,
            .widgettitle {
                margin: 0 0 15px;
                background-image: none;
                text-transform: none;
                font-size: 20px;
                text-align: center;
                font-weight: 700;
            }
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
        .mailchimp-04 .widget_mc4wp_form_widget .newsletter.row .input-group .input-group-btn .btn {
            background-color: $theme-color;
            color: #000;
        }
    }
    &.pbr-footer-06 {
        background: transparent;
        .wpb-container-inner {
            background-color: $footer-bg;
        }
    }
    @media screen and (max-width: 1023px) {
        h2.vc_custom_heading {
            font-size: 16px !important;
        }
        .wpcf7-form .newsletter .wpb_heading {
            margin-bottom: 10px;
        }
    }
}


/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{
    text-transform: uppercase;
    text-align: center;
    background-color: $copyright-bg;
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    width: 100%;
    position: relative;
    z-index: 1;
    @include box-size($copyright-bg, $copyright-padding-top, $copyright-padding-bottom);
    background-image: url('#{$image-theme-path}copyright-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    .#{$block-selector} {
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size,$footer-heading-font-size);
        }
    }
    .input-group{
        border: 0px;
        .fa{
            color: $gray-light;
        }
    }
    a{
        color: $white;
        &:hover,
        &:focus,
        &:active{
            color: $theme-color;
        }
        color: $copyright-link-color;
    }
    p {
        line-height: 18px;
    }
    address{ 
        margin: 0;
    }
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($white,.8);
    }
    .widget {
        .widget-title {
            padding: 0;
            margin: 0 0 20px;
            color: $black;
            text-transform: uppercase;
            font-size: 14px;
            background-image: none;
            &:after {
                content: none;
            }
        }
        .bo-social-icons {
            margin-top: -10px;
        }
    }
    .footer-wrapper-bg {
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%,100%);
        z-index: 2;
    }
    > .container {
        position: relative;
        z-index: 3;
    }
}

.footer-04 {
    .#{$app-prefix}-copyright {
        padding: 30px 0;
        color: #ccc;
        font-size: 14px;
        font-weight: 300;
        text-transform: none;
        a {
            color: #fff;
            &:hover {
                color: $theme-color-second;
            }
        }
    }
}

.footer-06 {
    font-size: 16px;
    color: #ccc;
    .wpb_text_column p {
        line-height: 28px;
    }
    .widget {
        .widget-title,
        .widgettitle {
            text-align: center;
            margin: 0 0 15px;
            background-image: none;
        }
        &.widget_paradise_copyright_widget {
            margin-bottom: 0 !important;
        }
    }
    .#{$app-prefix}-copyright {
        padding: 30px 0;
        color: #ccc;
        font-size: 16px;
        text-transform: none;
        a {
            color: #fff;
            &:hover {
                color: $theme-color;
            }
        }
    }
}

.pbr-footer-default {
    .wpb_widgetised_column {
        .widget {
            .widget-title,
            .widgettitle {
                font-size: 14px;
                color: #000;
                text-align: center;
                background-image: none;
                margin: 45px 0 20px;
            }
        }
    }
    .widget_paradise_copyright_widget {
        margin-bottom: 0 !important;
    }
    .pbr-copyright {
        padding-top: 0;
    }
}