/*
 * Global variables
 */
$image-theme-path                : '../images/' !default;
$image-theme-skin                : '../images/' !default;
// standard colors
$white		    : #FFF !default;
$black			: #000 !default;
$nocolor		: transparent !default;


// color for default theme
$theme-color    : #c29b73 !default; /* main color which will be used for all main block styles... */
$border-color	: #e9e9e9 !default;


$theme-color-second  			 : #233354 !default;
$theme-color-default             : $theme-color !default;
$theme-color-hover               : #ff8106 !default;
$theme-color-secondary           : #da8664 !default;
$link-color                      : #000 !default;


// Theme Margin, Padding
// -------------------------
$theme-margin    : 30px !default;
$theme-padding   : 30px !default;
// fonts
$font-family-second :  $font-family-base !default; 
/**
 * Import component variables
 */
@import "vars/form";
@import "vars/nav";
@import "vars/layout";
@import "vars/elements";
@import "vars/widget";
