/**
 * VC internal Elements
 */


/**
* Call To Action
**/ 

.vc_cta3-content {
  > p {
    margin-bottom: 25px;
    line-height: 24px;
  }
}

.pbr-calltoaction {
  .vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline-custom, 
  .vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline {
    padding: 10px 40px;
    font-weight: 700;
  }
  .vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline-custom, 
  .vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline {
    padding: 10px 40px;
    font-weight: 900;
  }
  .vc_btn3.vc_btn3-style-outline-custom, 
  .vc_btn3.vc_btn3-style-outline {
    border-width: 1px !important;
  }
  .vc_general.vc_cta3 .vc_cta3-icons {
    vertical-align: top;
  }
}

 /**
  */
  .noborder{
    .pbr-category-filter{
      border:none;
    }
  }
  .pbr-category-filter{
      text-align: center;
      position: relative;
      @include rtl-border-right(1px solid $border-color);
      .category-filter-content{
        display: none;
      }
      .filter-head{
        margin-bottom: 40px;        
      }
      h4{
        font-size: 14px;
      }
      .category-image{
        margin-top: 40px;
      }
      small{
        position: relative;
        &:before{
            position: absolute;
            content: "";
            @include rtl-left(0);
            @include rtl-right(0);
            margin: 0 auto;
            width: 40px;
            height: 3px;
            background-color:$border-color;
            bottom: -20px;
        }
      }
      &:hover{
        .category-filter-content{
          border: solid 1px #000;
          position: absolute;
          top: -31px;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: auto;
          width: 100%;
          background:$white; 
          display: block;
          padding: 20px 0;
          z-index: 1;
          a{
            font-size: 11px;
            text-transform:uppercase;
          }
        }
      }
  }
  .v1-category-filter{
    position: relative;
    .filter-head{
      margin-top: 55px;
    }
    .pbr-category-filter{
      border:none;
      small{
        display: none;
      }
      .category-filter-title{
        position: absolute;
        bottom: 0;
        color:$white;
        content: "";
        left: 0;
        margin: auto 0;
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 48px;
        height: 60px;
      }
      .category-filter-icon{
        margin-top:0;
      }
      .category-filter-content{
        background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: none;
        @include scale (1.12);
        @include opacity(0);
        @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 120px;
        width: 80%;
      }
      &:hover{
        .category-filter-title{
          height: auto;
        }
        .category-filter-content{
          @include scale (1);
          @include opacity(1);
          z-index: 2;
          .category-filter-title{
            display: block;
            span{
              border-bottom:2px solid $white;
              padding-bottom:10px;
            }
          }
          .category-filter-list-item{
            display:inline-block;
            padding:10px 15px;

          }
          a{
            color: $white;
            font-size: 12px;
            z-index: 3;
            position: relative;
          }
        }
        .category-image{
          background-color: #000;
          overflow: hidden;
          position: relative;
          &:before {
              background:rgba(0, 0, 0,0.5);
              bottom: 30px;
              content: "";
              left: 30px;
              position: absolute;
              right: 30px;
              top: 30px;
              @include scale (1.1);
              @include opacity (0);
              @include transition( opacity 0.35s ease 0s, transform 0.35s ease 0s);
              z-index: 1;
          }

          /* style for hover */
          &:hover{
            &:before {  
                @include opacity(1);
                @include scale (1);
            }
          }
      }
      }
    }
  }
  /**
   *
   */
.widget-text-heading {
    @include  widget-specical-style();
}

/**
 * Address Box
 */
.address-box {
  > div {
    display: inline-block;
    background-color: rgba($black,.8);
    color: $light-gray;
    padding: 20px 100px 40px;
    @media (max-width: 479px) {
      padding: 20px 20px 40px;
    }
    h1,h2,h3,h4,h5,h6 {
      color: $white;
      margin-top: 20px;
      margin-bottom: 15px;
    }
    .text-primary {
      font-size: 18px;
    }
  }
}

.bg-style-v1 {
  background-image: url(images/banner12.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vc_tta.vc_tta-style-flat {
  .vc_tta-tabs-container {
    .vc_tta-tabs-list {
      @include rtl-padding-right(10px);
      .vc_tta-tab {
        min-width: 270px;
        > a {
          padding: 20px 0;
          background-color: $white;
          border: none;
          border-top: 1px solid $border-color;
          color: $light-gray;
          text-transform: uppercase;
          font-size: 14px;
          font-family: $headings-font-family;
          > span {
            margin: 0 !important;
            display: block;
          }
          i {
            display: inline-block;
            margin-bottom: 10px;
            line-height: 1;
            font-size: 20px;
          }
        }
        &:first-child {
          > a {
            border-top: none;
          }
        }
        &.vc_active,
        &:hover {
          > a {
            color: $theme-color;
            background-color: transparent;
            &:after,
            &:before {
              content: none;
            }
          }
        }
      }
    }
  }
  .vc_tta-panels-container {
    .vc_tta-panel-body {
      .vc_toggle {
        margin-bottom: 20px;
        .vc_toggle_title {        
          h4 {
            font-size: 18px;
            font-weight: 400;
          }
          i.vc_toggle_icon {
            margin: 0;
            font-size: 12px;
            background-color: $theme-color;
            @include square(18px);
            &:after {
              height: 8px;
            }
            &:before {
              width: 8px;
            }
          }
        }
      }      
    }
    .vc_tta-panels {
      background-color: transparent !important;
    }
  }
}

.wpb_gmaps_widget .wpb_wrapper {
  padding: 0 !important;
}

.wpb_flickr_widget {
  text-align: center;
  .wpb_wrapper {
    margin-top: -20px;
  }
  .flickr_badge_image {
    float: none;
    display: inline-block;
    margin: 20px 10px 0;
    @include size(80px,80px);
  }
  .flickr_stream_wrap {
    display: none;
  }
}

.vc_grid-item {
  .vc_separator {
    display: none;
  }
  .vc_grid-item-mini {
    .vc_gitem-zone {
      .vc_gitem-zone-mini {
        .vc_gitem_row .vc_gitem-col {
          padding: 15px 20px 20px;
          .vc_custom_heading {
            margin: 0;
            padding: 0;
            h1,h2,h3,h4,h5,h6 {
              margin: 0;
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 700;
              line-height: 20px;
            }
            &:before {
              content: none;
            }
          }
          .vc_gitem-post-data-source-post_excerpt {
            max-height: 95px;
            overflow: hidden;
            @media (max-width: 479px) {
              max-height: 150px;
            }
          }
          .vc_btn3.vc_btn3-size-md {
            padding: 10px 20px;
            border: none !important;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

body .vc_progress_bar {
  .vc_single_bar {
    @include box-shadow(none);
    .vc_label {
      margin-bottom: 20px;
      height: 24px;
      line-height: 14px;
      padding: 5px 10px;
      overflow: hidden;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      span {
        @include rtl-float-right();
        color: $black;
        font-size: 12px;
      }
    }
  }
}


/*
 * Single Image 
 */
.wpb_single_image{
    overflow: hidden;
    position:relative;
    text-transform: uppercase;
    .wpb_heading{
        background-color: rgba($white,.4);
        padding:4px 6px;
        top:30px;
        @include rtl-left(30px);
        color: #000;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0;
        position:absolute;
        z-index: 1;
        @include transition(.5s);
        &:before {
          content: "";
          @include size(0,100%);
          position: absolute;
          top: 0;
          @include rtl-left(0);
          z-index: -1;
          @include opacity(0);
          @include transition(.5s);
          background-color: $black;
        }
    }
    .description{
        position: absolute;
        top:55px;
        @include rtl-left(30px);
        max-width: 90%;
        font-size: 36px;
        color: $white;
        font-weight: 300;
        line-height: 36px;
        strong {
          font-weight: 800;
        }
    }
    img {
      @include transition(1s);
    }
    &:hover {
      .wpb_heading {
        color: $white;
        &:before {
          @include opacity(1);
          width: 100%;
        }
      }
    }
    &.left-bottom-v1 {
      .description {
        top: auto;
        bottom: 30px;
      }
      .wpb_heading {
        top: auto;
        bottom: 145px;
      }
    }
    &.left-bottom-v2 {
      .description {
        top: auto;
        bottom: 30px;
      }
      .wpb_heading {
        top: auto;
        bottom: 110px;
      }
    }
    &.right-bottom {
      .description,
      .wpb_heading {
        top: auto;
        @include rtl-left(auto);
        @include rtl-right(30px);
      }
      .description {
        bottom: 30px;
      }
      .wpb_heading {
        bottom: 75px;
      }
    }
    &.left-top-v1 {
      .wpb_heading {
        color: $white;
        background-color: #cacaca;
        top: 60px;
        @include rtl-left(40px);
      }
      .description {
        color: $black;
        @include rtl-left(40px);
        top: 85px;
      }
    }
}

.vc_general.vc_cta3.vc_cta3-style-custom {
  border-color: transparent !important;
  padding: 0;
  .vc_custom_heading {
    margin: 15px 0 10px;
    &:last-child {
      margin: 0;
    }
  }
}
.vc_general.vc_cta3.vc_cta3-style-custom.vc_cta3-icon-size-md.vc_cta3-icons-left {
  .vc_custom_heading {
    margin: 0px 0 10px;
  }
}
.vc_general.vc_cta3.vc_cta3-style-flat {
  background-color: transparent !important;
  color: $white !important;
  .vc_cta3_content-container {
    .vc_cta3-content {
      .vc_cta3-content-header {
        h2 {
          padding: 0 20px;
          position: relative;
          display: inline-block;
          &:before,
          &:after {
            content: "";
            @include size(40px,1px);
            background-color: $white;
            position: absolute;
            top: 55%;
          }
          &:before {
            @include rtl-right(100%);
          }
          &:after {
            @include rtl-left(100%);
          }
          @media screen and (max-width: 1279px) {
            font-size: 30px !important;
          }
        }
      }
      > p {
        font-weight: 700;
        font-size: 48px;
        font-family: $headings-font-family;
        line-height: 56px;
      }
    }
  }
}
.vc_general.vc_cta3.vc_cta3-icons-on-border.vc_cta3-icons-left.vc_cta3-icon-size-xs {
  margin: 0 !important;
  @include rtl-padding-left(25px);
}
.vc_general.vc_cta3.vc_cta3-icons-on-border.vc_cta3-icons-left .vc_cta3-icons {
  left: -5px !important;
  top: 0 !important;
  transform: none !important;
}
.filter-sidebar {
  > .vc_column-inner {
    border: 1px solid $border-color;
    padding: 20px 30px 0;
    margin: 0 0 20px;
    height:60px;
    overflow: hidden;
    p {
      font-size: 12px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      @include transition(.3s);
      &:hover {
        color: $theme-color;
      }
      &:before {
        content:"\f0c9";
        color: $theme-color;
        @include rtl-margin-right(12px);
        font-family: 'FontAwesome';
        font-size: 11px;
      }
    }
  }
  &.expand {
    > .vc_column-inner {
      height: auto;
      overflow: visible;
      p {
        &:before {
          content: "\f00d";
        }
      }
    }
  }
}
.wpb_widgetised_column_heading {
  font-size: 14px;
  margin: 0 0 15px;
}

#colorbox {
  z-index: 99999;
}

.form-title{
    /* color: $block-module-heading-color; */
    margin: 0 0 15px;
    text-transform: $block-module-heading-transform;
    font-size: 30px;

    position: relative;
    z-index: 10;

     line-height: 1.1;
    > span{
        display:  inline-block;
    }
    .subtitle{
        font-weight: normal;
        font-size: 11px;
        text-transform: none;
    }
}

.entry-content-page {
  .slider-search-form,
  .slider-search-form-2,
  .slider-vertical-form,
  .slider-vertical-form-2 {
    display: none;
  }
  .slider-search-form-wrapper,
  .slider-search-form-2-wrapper {
    position: absolute;
    right: 10%;
    top: 0px;
    width: 80%;
    z-index: 1;
    @include rtl-margin-right(0);
    .slider-search-form,
    .slider-search-form-2 {
      display: block;
      .opalhotel_form_section {
        padding: 0;
        .horizontal-form .form-content .opalhotel-form-field {
          width: 20%;
          &.adults-input,
          &.children-input {
            width: 10%;
          }
        }
      }
      @media screen and (max-width: $screen-md-min) {
        .search-properies-form {
          padding-bottom: 0;
          .row .col-lg-12 .form-group:last-child {
            margin-bottom: 0;
          }
        }
      }
      @media screen and (max-width: 479px) {
        @include rtl-margin-left(-35px);
        @include rtl-margin-right(-35px);
      }
    }
    @media screen and (max-width: 1290px) {
      .container {
        width: 100% !important;
        padding: 0;
      }
    }
    @media screen and (max-width: 979px) {
      position: static;
      margin: 0 auto;
      .slider-search-form {
        padding-top: 20px;
        > div {
          width: 100%;
        }
        .search-properies-form {
          padding-bottom: 30px;
        }
      }
    }
  }
  .slider-search-form-2-wrapper {
    top: 300px;
  }
  .slider-vertical-form-wrapper {
    position: absolute;
    top: 300px;
    right: 15%;
    width: 25%;
    z-index: 1;
    margin: 0 !important;
    .container {
      width: 100% !important;
      margin: 0 !important;
    }
    .slider-vertical-form {
      display: block;
    }
    .opalhotel_form_section {
      background-color: $topbar-bg;
      padding: 30px 0 40px;
      .opalhotel-form-field .opalhotel-form-lable {
        color: #fff;
      }
      .button {
        display: block;
        width: 100%;
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1179px) {
      width: 35%;
      top: 150px;
      @include rtl-right(8%);
      .opalhotel_form_section footer {
        padding: 0 20px;
        margin-top: 20px;
      }
      .opalhotel_form_section {
        padding: 10px 0 20px;
      }
    }
    @media screen and (max-width: 1023px) {
      top: 220px;
    }
    @media screen and (max-width: 979px) {
      position: static;
      width: auto;
      padding-top: 30px;
      margin: 0 -10px !important;
    }
  }
  .slider-vertical-form-2-wrapper {
    position: absolute;
    top: 225px;
    left: 19%;
    width: 20%;
    z-index: 1;
    margin: 0 !important;
    .container {
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    .slider-vertical-form-2 {
      display: block;
    }
    .opalhotel_form_section {
      background-color: $theme-color;
      padding: 30px 0 40px;
      .button {
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        background-color: $theme-color-second;
        border-color: $theme-color-second;
        color: #fff;
      }
    }
    @media screen and (max-width: 1339px) {
      left: 3%;
      width: 30%;
    }
    @media screen and (max-width: 979px) {
      position: static;
      width: 100%;
      padding: 0 20px 80px;
    }
  }
}

.vc_toggle_round {
  .vc_toggle_title {
    margin-bottom: 20px;
    > h4 {
      font-size: 18px;
      font-weight: 400;
    }
    .vc_toggle_icon {
      background-color: $theme-color;
      @include square(18px);
    }
  }
  .vc_toggle_content {
    margin-bottom: 20px;
  }
}


body {
  .vc_general.vc_cta3.vc_cta3-icons-on-border.vc_cta3-icons-left.vc_cta3-icon-size-md .vc_cta3_content-container {
    @include rtl-padding-left(50px);
  }
  .vc_general.vc_cta3.vc_cta3-icons-on-border.vc_cta3-icons-left.vc_cta3-icon-size-md .vc_cta3-icons {
    top: -8px !important;
  }
  .vc_custom_1465178960886 {
    background-position: center 0 !important;
  }
  .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    @include square(20px);
  }
}


.pbr-calltoaction {
  .vc_general.vc_cta3.vc_cta3-color-white.vc_cta3-style-flat {
    background-color: transparent;
    background-image: url('#{$image-theme-path}gradient-01.png');
    background-repeat: repeat-x;
    background-position: 0 bottom;
    padding: 0;
    border: none;
    position: relative;
    min-height: 600px;
    .vc_cta3_content-container {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 30px 40px;
      @include transition(.5s);
      z-index: 1;
    }
    .vc_cta3_content-container .vc_cta3-content .vc_cta3-content-header h2 {
      padding: 0;
      margin: 5px 0;
      &:before,
      &:after {
        content: none;
      }
      @media screen and (max-width: 979px) {
        font-size: 30px !important;
      }
      @media screen and (max-width: 799px) {
        font-size: 20px !important;
      }
    }
    .vc_cta3-content > div {
      font-weight: 300;
      font-size: 24px;
      line-height: 38px;
      font-family: $font-family-base;
      @include transition(.5s);
      em {
        font-size: 16px;
        line-height: 20px;
        color: #ccc;
        font-family: $headings-font-family;
        font-weight: 400;
      }
      &:last-child {
        height: 0;
        visibility: hidden;
        @include opacity(0);
      }
    }
    .vc_cta3-actions {
      a {
        border: none !important;
        padding: 0 0 0 15px !important;
        font-size: 12px !important;
        .vc_btn3-icon {
          @include rtl-left(0);
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      @include transition(.5s);
      background-color: rgba(4,8,54,.7);
    }
    &:hover {
      .vc_cta3-content > div {
        &:last-child {
          height: auto;
          visibility: visible;
          @include opacity(1);
          margin: 110px 0;
        }
      }
      &:before {
        height: 100%;
      }
    }
    @media screen and (max-width: 1320px) {
      .vc_cta3-content > div:last-child {
        display: none;
      }
      .vc_cta3_content-container {
        padding: 25px 30px;
      }
    }
    @media screen and (max-width: 1023px) {
      min-height: 300px;
      .vc_cta3-content {
        margin-bottom: 10px;
      }
      .vc_cta3-content > div {
        font-size: 20px;
        line-height: 30px;
        em {
          font-size: 14px;
        }
      }
    }
    @media screen and (max-width: 979px) {
      .vc_cta3_content-container {
        padding: 15px 20px;
      }
    }
  }
}

.wpb_text_column {
  p {
    line-height: 30px;
  }
}

.vc_tta.vc_general {
  .vc_tta-tabs-container {
    .vc_tta-tabs-list {
      padding: 0;
      border-bottom: 1px solid $border-color !important;
      .vc_tta-tab {
        margin: 0;
        padding: 0 17px;
        > a {
          border: none;
          color: $light-gray;
          font-weight: 900;
          font-size: 12px;
          padding: 0 0 20px;
          position: relative;
          background-color: transparent !important;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 3px !important;
            @include transition(.5s);
            background-color: $theme-color;
            display: block !important;

          }
        }
        &.vc_active {
          > a {
            color: $black;
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .vc_tta-panels-container {
    .vc_tta-panel-body {
      padding: 60px 0 0;
    }
  }
  @media screen and (max-width: 767px) {
    .vc_tta-panel .vc_tta-panel-title > a {
      color: $black !important;
    }
    .vc_tta-panels-container {
      .vc_tta-panel-body {
        padding: 0;
      }
    }
  }
  &.vc_tta-style-flat {
    .vc_tta-tabs-container {
      text-align: center;
      .vc_tta-tabs-list {
        border-bottom: none !important;
        display: inline-block;
        background-color: rgba(5,8,54,.3);
        .vc_tta-tab {
          min-width: 170px;
          padding: 0;
          float: left;
          > a {
            font-size: 18px;
            color: $white;
            font-weight: 400;
            padding: 30px 0 40px;
            i {
              margin: 15px 0 0;
              @include square(54px);
              border: 1px solid rgba(255,255,255,.4);
              line-height: 52px;
              font-size: 26px;
              border-radius: 50%;
            }
          }
          &.vc_active {
            background-color: $theme-color;
          }
        }
      }
    }
    .vc_tta-panels-container {
      margin-top: -6px;
      .vc_tta-panels {
        background-color: transparent;
        .vc_tta-panel-body {
          padding: 0;
        }
      }
    }
  }
}

.special-image {
  overflow: visible;
  padding: 0 0 10px 0;
  &:before {
    @include size(100%,10px);
    background-color: $theme-color;
    content: "";
    position: absolute;
    @include rtl-left(-10px);
    bottom: 0;
  }
  &:after {
    @include size(10px,auto);
    background-color: $theme-color;
    content: "";
    position: absolute;
    @include rtl-left(-10px);
    top: 10px;
      bottom: 0;
  }
  @media screen and (max-width: 979px) {
    &:before,
    &:after {
      content: none;
    }
  }
}

.vc_toggle {
  .vc_toggle_title {
    background-color: #f8f8f8;
    padding: 15px 10px 15px 50px !important;
    margin-bottom: 10px;
    @include transition(.3s);
    > h4 {
      font-weight: 400;
      margin: 0;
      @include transition(.3s);
    }
    .vc_toggle_icon {
      left: 10px !important;
      border-color: #e7e7e7 !important;
      @include transition(.3s);
      &:before,
      &:after {
        background-color: #e7e7e7 !important;
      }
    }
  }
  .vc_toggle_content {
    padding: 0 !important;
    margin: 25px 0 30px;
    p {
      line-height: 30px;
    }
  }
  &.vc_toggle_active {
    .vc_toggle_title {
      background-color: $theme-color;
      > h4 {
        color: $white;
      }
      .vc_toggle_icon {
        left: 10px !important;
        border-color: #fff !important;
        &:before,
        &:after {
          background-color: #fff !important;
        }
      }
    }
  }
}
.pbr-calltoaction.vc_cta3-container {
  margin-bottom: 0;
}

.wpb-container .pbr-copyright {
  background: none;
}
.vc_row-no-padding {
  .vc_ {
    padding-left: 0;
    padding-right: 0;
  }
}

.vc_row.vc_row-o-equal-height .vc_row > .vc_ {
    align-items: stretch;
}
.vc_row.vc_row-flex > div {
  margin: 0 auto;
  width: 100%;
}
.vc_row.vc_row-flex .vc_row > .vc_ {
    display: flex;
}
.vc_row.vc_row-flex .vc_row{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.vc_row.vc_row-flex .vc_row > .vc_ > .vc_column-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.home-6-search-form {
  margin-top: -300px;
  @media screen and (max-width: 1348px) {
    margin-top: -200px;
  }
  @media screen and (max-width: 1279px) {
    .widget-text-heading.style-4 {
      margin-bottom: 0;
    }
    .opalhotel_form_section {
      padding: 10px 0;
      footer {
        padding: 0 20px;
      }
    }
  }
  @media screen and (max-width: 979px) {
    margin-top: 80px;
  }
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title > a {
  color: #000 !important;
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title > a .vc_tta-controls-icon.vc_tta-controls-icon-plus:before,
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title > a .vc_tta-controls-icon.vc_tta-controls-icon-plus:after {
  border-color: #000 !important;
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title {
  margin-bottom: 10px;
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title {
  margin-bottom: 20px;
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title > a {
  background-color: $theme-color !important;
  color: #fff !important;
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title > a .vc_tta-controls-icon.vc_tta-controls-icon-plus:before {
  border-color: #fff !important;
}