.pbr-newsletter{
    border-top:1px solid $border-color;
}
.widget_mc4wp_widget{
    text-align: center;    
    padding-top:20px;
    .widget-title{
        display: none;        
    }
    .title{
        font-family: $font-family-sans-serif;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
    }
    .form{
        margin: 0 auto 20px;
        width: 30%;
    }
    .form-control,.btn{
        padding:10px 15px;
    }
}



/* List Style Widgets*/

.widget_archive select,
.widget_categories select,
.widget_links select,
.widget_meta select,
.widget_nav_menu select,
.widget_pages select,
.widget_recent_comments select,
.widget_recent_entries select,
.widget_rss select,
.widget_text select {
    border: 1px solid $border-color;
    padding: 5px 10px;
    width: 100%;
}

.widget_archive ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul {
    margin: -10px 0;
    padding: 0;
    list-style: none;
}

.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_entries li {
    padding: 10px 0;
    border-top: 1px solid $border-color;
    font-size: 14px;
    position: relative;    
    color: $black;    
    .children,
    .sub-menu {
        @include rtl-padding(0, 0, 10px, 15px);
        li {
            @include rtl-padding-left(0);
            &:before {
                content: none;
            }
        }
    }
    a {
        color: $gray-dark;
        display: inline-block;
        position: relative;
        &:hover {
            color: $theme-color;
        }
    }
    > a {
        @include rtl-padding-left(20px);
        &:before {
            content: "";
            @include square(5px);
            border: 1px solid $theme-color;
            @include rotate(45deg);
            position: absolute;
            @include rtl-left(1px);
            top: 50%;
            margin-top: -1px;
        }
    }
}
.widget_recent_comments li {
    padding: 10px 0;
    border-top: 1px solid $border-color;
    font-size: 14px;
    position: relative;
    @include rtl-padding-left(20px);
    color: $black;
    &:before {
        content: "";
        @include square(5px);
        border: 1px solid $theme-color;
        @include rotate(45deg);
        position: absolute;
        @include rtl-left(1px);
        top: 50%;
        margin-top: -1px;
    }
    a {
        color: $gray-dark;
        display: inline-block;
        position: relative;
        &:hover {
            color: $theme-color;
        }
    }
}

.widget_archive li:first-child,
.widget_categories li:first-child,
.widget_links li:first-child,
.widget_meta li:first-child,
.widget_nav_menu li:first-child,
.widget_pages li:first-child,
.widget_recent_comments li:first-child,
.widget_recent_entries li:first-child,
.widget_rss li:first-child {
    border-top: 0;
}

.widget_categories li ul,
.widget_nav_menu li ul,
.widget_pages li ul {
    margin-top: 9px;
}

.widget_categories li li:last-child,
.widget_nav_menu li li:last-child,
.widget_pages li li:last-child {
    padding-bottom: 0;
}

.widget_tag_cloud {
    a {
        border: 1px solid #ccc;
        display: inline-block;
        line-height: 28px;
        padding: 0 10px;
        font-size: 14px !important;
        @include rtl-margin(0px,4px,7px,0px);
        color: $light-gray;
        &:hover {
            color: $theme-color;
        }
    }
}

.widget_search,
.search-no-results .page-content {
    .searchform .pbr-search {
        .form-control {
            width: 100%;
            right: 0;
            padding: 0 50px 0 15px;
            border: 1px solid $border-color;
            &:focus,
            &:hover {
                width: 100%;
            }
        }
        .input-group-addon {
            background: $theme-color;
        }
    }
}
.widget_text {
    select {
        width: 100%;
        padding: 5px 10px;
    }
}

.widget_categories li {
    overflow: hidden;
    @include rtl-text-align-right();
    a {
        @include rtl-float-left();
    }
}

/* Recent Posts Widget */
.widget_recent_entries .post-date {
    display: block;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
    color: $gray-dark;
}

.widget_pbr_recent_post {
    .item-post.media {
        border-top: 1px solid $border-color;
        padding-top: 30px;
        a.image {
            width: 80px; 
        }
        .media-body {
            .entry-title {
                margin: -3px 0 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
            > p {
                display: none;
            }
        }
        @media screen and (max-width: 979px) {
            a.image {
                width: 80px;
                margin: 0;
                @include rtl-padding-right(10px);
            }
        }
        &:first-child {
            border-top: none;
            padding-top: 0;
        }
    }
    .post-stick-layout {
        .item-post.media.item-big {
            border-top: none;
            a.image {
                @include rtl-padding-right(0);
                width: 100%;
                margin-bottom: 10px;
            }
            .entry-title {
                margin: 0 0 10px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .item-post.media {
            padding-top: 15px;
            .media-body {
                .entry-title {
                    margin: 0 0 5px;
                }
            }
            .post-date {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                color: $theme-color;
            }
        }
    }
}

/* RSS Widget */
.rsswidget img {
    margin-top: -4px;
}

.rssSummary {
    margin: 9px 0;
}

.rss-date {
    display: block;
}

.widget_rss li {
    padding: 10px 0;
    border-top: 1px solid $border-color;
    font-size: 14px;
    position: relative;    
    color: $black;    
}

.widget_rss li:last-child {
    margin-bottom: 0;
}

/* Text Widget */
.widget_text > div > :last-child {
    margin-bottom: 0;
}

/* Calendar Widget*/
.widget_calendar {
    table {
        line-height: 2;
        margin: 0;
    }
    caption {
        font-weight: 700;
        line-height: 1.7142857142;
        margin-bottom: 10px;
        padding: 0;
        text-align: left;
        text-transform: uppercase;
    }
    thead th {
        background-color: rgba(255, 255, 255, 0.1);
    }
    tbody td, thead th {
        text-align: center;
    }
    tbody a {
        background-color: #24890d;
        color: #fff;
        display: block;
        &:hover {
          background-color: #41a62a;
          color: #fff;
        }
    }
    th, td {
        padding: 3px 7px;
    }
    #prev {
        padding-left: 5px;
    }
    #next {
        padding-right: 5px;
        text-align: right;
    }
}

/* Recent Comments Widget */
.widget_recent_comments {
    ul {
        li {
            .comment-author-link {
                font-size: 12px;
                text-transform: uppercase;
                color: $theme-color;
                font-weight: 700;
            }
        }
    }
}

.widget_pbr_recent_comment {
    .widget-content {
        article {
            margin-top: 15px;
            .avatar-comment-widget {
                display: table-cell;
                vertical-align: top;
                @include rtl-padding-right(15px);
                width: 80px;
            }
            .content-comment-widget {
                display: table-cell;
                vertical-align: top;
            }
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

/* Social Widget */

#pbr-topbar {
    .widget_pbr_socials_widget {
        ul {
            > li {
                a {
                    i {
                        color: $light-gray;
                        background-color: transparent;
                    }
                    &:hover {
                        i {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

#pbr-footer {
    .widget_pbr_socials_widget {
        ul {
            margin: 0 -5px;
            > li {
                padding: 0 5px;
                a {
                    max-width: 36px;
                    font-size: 14px;
                    i {
                        color: $white;
                        background-color: #182642;
                        @include square(36px);
                        line-height: 36px;
                        text-align: center;
                        border-radius: 3px;
                        @include rtl-padding-left(4px);
                    }
                    &:hover {
                        i {
                            color: $theme-color;
                        }
                    }
                    @media screen and (max-width: 979px) {
                        max-width: 30px;
                        i {
                            @include square(30px);
                            line-height: 30px;
                        }      
                    }
                }
            }
        }
    }
}


/* Vertical Menu Widget */
.widget_pbr_menu_vertical {
    .navbar-collapse {
        padding: 0;
    }
    #menu-main-menu {
        float: none;
        > li {
            float: none;
            a {
                display: block;
                padding: 5px 0;
            }
            > a {                
                background-color: transparent !important;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    background-color: transparent;
                }
                > span {
                    @include rtl-float-right();
                    font-size: 14px;
                    font-weight: bolder;
                    &:after {
                        font-family: 'FontAwesome';
                        content: "\f107";
                    }
                }
            }
            &.current-menu-parent {
                > a {
                    color: $theme-color;
                }
            }
            &.open {
                > a {
                    background-color: transparent;
                    color: $theme-color;
                    > span {
                        &:after {
                            content: "\f106";
                        }
                    }
                }
            }
            .sub-menu {
                padding: 0 15px;
                > li {
                    &.current-menu-item {
                        > a {
                            color: $theme-color;
                        }
                    }
                    > a {
                        text-transform: none;
                    }
                }
            }
        }
    }
}

/* Our Team Widget From Source */
.team-v1 {
    .team-header {
        overflow: hidden;
    }
    .team-body {
        padding: 25px 30px 10px;
        border-bottom: 1px solid $border-color;
        text-align: center;
        @media screen and (max-width: $screen-md-min) {
            padding: 15px 20px;
        }
    }
    .team-info {
        padding: 20px 0 0;
    }
    @media screen and (max-width: $screen-md-min) {
        .team-body {
            padding: 15px 20px;
        }
        .team-info {
            padding: 10px 20px 15px;
        }
    }
}

.team-v2 {
    .team-body {
        padding: 25px 0 15px;
    }
    @media screen and (max-width: $screen-xs-max) {
        .team-body {
            padding: 20px 20px 15px;
        }
        .team-info {
            padding: 0 20px 5px;
        }
    }
}


/* Popup NewsLetter Widget */ 
.popupnewsletter{
    .btn-flying-right{
        position:fixed;
        top: 40%;
        @include rtl-right(0);
        z-index: 1;
    }
    .modal {
      text-align: center;
    }

    @media screen and (min-width: 768px) { 
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

    .btn {
        border-radius: 0;
        border: none;
        @include rtl-border-left(3px solid $theme-color);
        line-height: 34px;
        padding: 8px 20px 12px;
        font-size: 16px;
        @include transition(.3s);
        outline: none !important;
        &:hover {
            color: $theme-color;
        }
    }
    .modal-content {        
        button.close {
            border: none;
            font-weight: 700;
            color: red;
            font-size: 20px;
            background: none;
            position: absolute;
            top: -25px;
            @include rtl-right(-25px);
            &:hover {
                color: $theme-color;
            }
        }
    }
}

.popupnewsletter-widget {
    h3 {
        position: relative;
        font-size: 18px;
        padding-bottom: 25px;
        text-align: center;
        margin: 0 0 25px;
        &:after {
            content: "";
            @include size(30px,2px);
            background-color: $headings-color;
            position: absolute;
            bottom: 0;
            @include rtl-left(50%);
            @include rtl-margin-left(-15px);
        }
    }
    p.description {
        text-align: center;
        margin-bottom: 25px;
    }
    .mc4wp-form {
        text-align: center;
        margin-bottom: 0;
        div.description {
            display: none;
        }
        .form-control {
            padding: 10px 15px;
            margin-bottom: 20px;
            border-radius: 18px;
            max-width: 560px;
        }
        .button-submit {
            .btn {
                color: $white;
                font-size: 12px;
                font-weight: 800;
                text-transform: uppercase;
                background-color: $theme-color;
                display: block;
                letter-spacing: 1px;
                line-height: 20px;
                border-radius: 20px;
                width: 100%;
                padding: 10px 20px;
                border: none;
                &:hover {
                    background-color: $black;
                }
            }
        }
    }
}

/* Banner Countdown Widget */ 
.banner-countdown-widget {
    .heading {
        h3 {
            margin-top: 0;
        }
        h4 {
            margin-bottom: 20px;
        }
    }
    .countdown-wrapper {
        margin-bottom: 10px;
    }
    .inner {
        > a {
            color: $white;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover {
                color: $black;
            }
        }
    }    
}

/* Brands Widget*/ 
.widget-brand-logo {
    .owl-wrapper-outer {
        min-height: 30px !important;
    }
    .item-brand {
        min-height: 30px;
        @include opacity(.5);
        @include transition(.5s);
        &:hover {
            @include opacity(1);
        }
    }
    @media screen and (max-width: 979px) {
        .owl-controls {
            margin-top: 15px;
        }
    }
}

.widget {
    &.slideshowpost {
        overflow: hidden;
        .widget-content {
            margin: 0 -15px;
            .owl-carousel-play .carousel-control {
                top: 140px;
            }
        }
    }
}

/* Slideshow Widget*/
.slideshowpost {
    article.post {
        .entry-date {
            font-family: $headings-font-family;
            font-size: 14px;
            margin: 0 0 15px;
            strong {
                font-size: 36px;
                line-height: 1;
            }
            @media screen and (max-width: $screen-xs-max) {
                margin-top: 15px;
            }
        }
        .entry-title {
            font-size: 24px;
            line-height: 34px;
            margin: 0 0 10px;
            @media screen and (max-width: $screen-xs-min) {
                font-size: 20px;
                line-height: 26px;
            }
        }
        .more-link {
            font-weight: 900;
            font-size: 12px;
            font-family: $headings-font-family;
        }
    }
    .owl-controls {
        display: block !important;
        .owl-pagination {
            @include rtl-text-align-left();
            @include rtl-margin-left(10px);
            top: -5px;
        }
    }            
}

.pbr-gallery  {
    .widget-content {
        margin-top: -30px;
        .item {
            margin-top: 30px;
        }
        .image {
            position: relative;
            .mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.6);
                @include opacity(0);
                @include transition(.3s);
            }
            img {
                width: 100%;
            }
            .prettyphoto {
                position: absolute;
                top: 200%;
                @include rtl-left(50%);
                font-size: 30px;
                @include rtl-margin(-22px,0,0,-14px);
                color: $white;
                &:hover {
                    color: $theme-color;
                }
            }
            &:hover {
                .mask {
                    @include opacity(1);
                    .prettyphoto {
                        top: 50%;
                    }
                }
            }
        }
    }
    .pbr-pagination {
        margin-top: 60px;
    }
}

.pbr-video  {
    .widget-content {
        margin-top: -30px;
        .item {
            margin-top: 30px;
        }
        .image {
            position: relative;
            .mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.4);
                @include opacity(0);
                @include transition(.3s);
                > a {
                    position: absolute;
                    top: 200%;
                    @include rtl-left(50%);
                    font-size: 16px;
                    @include rtl-margin(-29px,0,0,-29px);
                    color: $white;
                    border: 2px solid $white;
                    @include square(58px);
                    line-height: 54px;
                    text-align: center;
                    @include rtl-padding-left(2px);
                    &:hover {
                        color: $theme-color;
                        border-color: $theme-color;
                    }
                }
            }
            img {
                width: 100%;
            }
            &:hover {
                .mask {
                    @include opacity(1);
                    > a {
                        top: 50%;
                    }
                }
            }
        }
    }
    .pbr-pagination {
        margin-top: 60px;
    }
}

.widget-medias-tabs {
    .tab-content {
        margin: 0;
        padding: 0;
        .row {
            margin: -5px;
            > div {
                padding: 5px;
                .image {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    .mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            color: $white;
                            i {
                                border: 1px solid $white;
                                border-radius: 50%;
                                font-size: 14px;
                                line-height: 28px;
                                @include square(30px);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin: -15px 0 0 -15px;
                                @include transition(.35s);
                            }
                        }
                    }
                }
            }
        }
    }
}

.pbr-contact-information{
    background-color: #f9f9f9;
    padding: 40px 30px 20px;
    .item{
        margin-bottom: 20px;
        color: $black;
        font-family: $headings-font-family; 
        font-size: 18px;
        .icon{
            width: 30px;
            @include rtl-float-left();
        }
        p {
            margin-bottom: 5px !important;
            label {
                font-size: 12px;
                text-transform: uppercase;
                font-family: $font-family-base;
                color: $light-gray;
                margin: 0;
                @include rtl-float-left();
                line-height: 1;
            }
        }
        span {
            @include rtl-padding-left(35px);
            display: block;
        }
    }
    &.style-2 {
        padding: 0;
        background-color: transparent;
        .icon {
            @include rtl-margin(5px,20px,0,0);
            @include square(46px);
            text-align: center;
            line-height: 46px;
            border-radius: 50%;
            background-color: #f7f7f7;
            color: $light-gray;
            font-size: 14px;
        }
        .item {
            margin-bottom: 15px;
            span {
                overflow: hidden;
                @include rtl-padding-left(0);
                font-family: $font-family-base;
                color: $light-gray;
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 979px) {
        padding: 30px 20px 10px;
        .item {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }
}

.widget_mc4wp_form_widget {
    .mc4wp-form-basic {
        .description {
            margin-bottom: 10px;
        }
        .input-form {
            margin-bottom: 10px;
        }
        input[type="submit"] {
            background: $theme-color;
            color: $white;
            font-size: 12px;
            font-weight: 700;
        }
    }
}


/*-- Paradise --*/
.sidebar .widget_opalhotel-check-available {
    margin: -40px -40px 0;
    padding: 35px 40px 45px;
    .widget-title {
        font-size: 24px;
        > span {
            background: none;
            padding: 0;
        }
        &:after {
            content: none;
        }
    }
}

.widget_pbr_twitter_widget {
    iframe.twitter-timeline {
        display: block !important;
    }
}


/* Content Carousel Widget*/
.widget-content-carousel {
    overflow: hidden;
    .carousel-wrapper {
        margin-right: -500px;
        padding-left: 125px;
        @media screen and (max-width: 1279px) {
            padding-left: 0;
            margin-right: -1500px;
        }
        @media screen and (max-width: 479px) {
            margin-right: 0;
        }
    }
    .item-inner {
        position: relative;
        min-height: 64px;
        padding-left: 80px;
        @media screen and (max-width: 479px) {
            padding-left: 0;
        }
        .item-top{
            @include rtl-left(0);
            position: absolute;
            top: 50%;
            margin-top: -32px;
            .title{
                font-size: 64px;
                font-family: $headings-font-family;
                font-weight: 700;
                color: #ccc;
                display: block;
                line-height: 1;
            }
        }
        .description {
            background-color: #f8f8f8;
            padding: 45px 50px 45px 100px;
            line-height: 30px;
            @include rtl-margin-left(60px);
            @include opacity(0);
            background-image: url('#{$image-theme-path}background-03.png');
            background-repeat: no-repeat;
            background-position: right bottom;
            @media screen and (max-width: 479px) {
                @include rtl-margin-left(0px);
                padding: 15px 20px;
            }
        }
    }
    .sp-selected {
        .item-inner {
            .item-top {
                margin-top: -50px;
                @media screen and (max-width: 479px) {
                    margin:0 0 15px;
                    position: static;
                }
                .title {
                    font-size: 100px;
                    color: $theme-color;
                    @media screen and (max-width: 479px) {
                        font-size: 30px;
                    }
                }
            }
            .description {
                @include opacity(1);
            }
        }
    }
    .owl-controls {
        display: block !important;
        @include rtl-margin(40px,500px,0,-125px);
        @media screen and (max-width: 1279px) {
            @include rtl-margin(40px,1500px,0,0);
        }
        @media screen and (max-width: 479px) {
            margin: 40px 0 0;
        }
    }
}


.widget-carvideo {
    .owl-carousel {
        .owl-item {
            .item {
                padding: 0;
                position: relative;
                .image-video-wrapper {
                    position: relative;
                    .video-content {
                        position: absolute;
                        top: 30%;
                        left: 0;
                        width: 100%;
                        text-align: center;
                    }
                    .icon {
                        text-align: center;
                        border: 2px solid $white;
                        line-height: 96px;
                        font-size: 30px;
                        color: $white;
                        border-radius: 50%;
                        @include rtl-padding-left(5px);
                        @include square(100px);
                        display: inline-block;
                        cursor: pointer;
                        @include transition(.3s);
                        &:hover {
                            color: $theme-color;
                            border-color: $theme-color;
                        }
                    }
                    .title-video {
                        font-size: 40px;
                        color: $white;
                        margin: 40px 0 0;
                        @media screen and (max-width: 767px) {
                            font-size: 20pt;
                        }
                        @media screen and (max-width: 479px) {
                            font-size: 16pt;
                        }
                    }
                }
                .video-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    @media screen and (max-width: 1320px) {
                        iframe {
                            height: 100% !important;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1279px) {
        margin-left: -200px;
        margin-right: -200px;
    }
    @media screen and (max-width: 767px) {
        margin-left: -400px;
        margin-right: -400px;
    }
}

.pbr-pricing-widget {
    .pricing-list {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            border-top: 1px solid $border-color;
            padding-top: 20px;
            margin-top: 20px;
            &:first-child {
                border-top: none;
                padding-top: 0;
                margin-top: 0;
            }
            .plan-title {
                margin: 0;
            }
            .plan-subtitle {
                text-transform: uppercase;
                font-size: 12px;
                color: $light-gray;
            }
            .plan-currency,
            .plan-price {
                color: $black;
                font-family: $headings-font-family;
                font-weight: 700;
                font-size: 16px;
            }
            .plan-currency {
                top: -0.1em;
            }
        }
    }
}

.pbr-opentime-widget {
    .opentime-list {
        margin: 0;
        li {
            border-top: 1px solid $border-color;
            padding-top: 10px;
            margin-top: 10px;
            font-size: 14px;
            &:first-child {
                border-top: none;
                padding-top: 0;
                margin-top: 0;
            }
            .openning-time {
                font-style: italic;
                color: $light-gray;
            }
        }
    }
}

.pbr-info-reservation {
    padding: 20px;
    background-color: $white;
    @include box-shadow(0 0 20px rgba(0,0,0,.1));
    .info-reservation-wrapper {
        background-color: #f9f9f9;
        padding: 40px 20px;
        h6 {
            font-weight: 400;
            text-transform: uppercase;
            margin: 30px 0 10px;
        }
        .reservation-phone {
            margin-bottom: 20px;
            font-weight: 700;
            font-family: $headings-font-family;
            font-size: 24px;
        }
        .description {
            font-size: 14px;
            color: $light-gray;
        }
    }
}