// Core variables and mixins
@import "../../bootstrap/variables";
@import "vars/vars";
@import "../../bootstrap/mixins";

@import "../../components/mixins";
@import "../../components/variables";
@import "../../opalhotel/3rd";

@import "../../opalhotel/styles";
@import "../../opalhotel/form";
@import "../../opalhotel/widgets";

.opalhotel_form_section {
	background-color: $theme-color-second;
	.opalhotel-form-field {
		.opalhotel-form-lable {
			color: #fff;
		}
	}
	.button.button-primary {
		border-color: $theme-color;
		background-color: $theme-color;
		color: #fff;
		font-size: 14px;
		font-weight: 900;
		width: 100%;
	}
}
.room-overlap.style-2 {
	.room-content-wrapper {
		.room-title {
			font-weight: 300;
		}
		.opalhotel-price {
			font-family: $headings-font-family;
			font-size: 14px;
			.price-value {
				font-size: 24px;
			}
			&:before {
				left: 120%;
				top: 13px;
			}
			&:after {
				right: 120%;
				top: 13px;
			}
		}
		.link-reservation {
			color: $theme-color;
			&:hover {
				border-color: $theme-color;
				background-color: $theme-color;
				color: #fff;
			}
		}
	}
}