/*
Theme Name: paradise
Theme URI: http://www.wpopal.com/product/paradise/
Author: Opal Team
Author URI: https://www.wpopal.com/
Description: In 2016, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: paradise

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*------------------------------------------------------------------
[Table of contents]
1. Utilities
2. Base
3. Layout
4. Page
5. Post
6. Form
7. Responsive
8. Widget

-------------------------------------------------------------------*/
@import "../../bootstrap";

@import "../../components/variables";
@import "vars/vars";

/* Core CSS*/
@import "../../bootstrap/scaffolding";
@import "../../bootstrap/type";
@import "../../bootstrap/forms";
@import "../../bootstrap/buttons"; 

/* 1. Utilities */
@import "../../components/mixins";

/* 2. Base */
@import "../../components/base";
@import "../../components/typo";

/* 3. Layout */
@import "../../components/template-layout";
@import "../../components/widget-layout";

/* 8. Widget */
@import "../../components/widgets";
@import "../../components/nav";

/* 4. Page */
@import "../../components/page";

/* 5. Post */
@import "../../components/post-formats";
@import "../../components/post-single";
@import "../../components/custom-posttype";
@import "../../components/events";

/* 6. Form */
@import "../../components/elements";
@import "../../components/vc";

/* 7. Responsive */
@import "../../components/responsive";

body {
	font-weight: $font-weight-base;
}
.widget-text-heading {
	text-transform: none;
	.widget-heading {
		font-size: 48px;
		font-weight: 500;
		background-image: url('#{$image-theme-path}widget-title-bg-2.png');
		padding-bottom: 30px;
		margin-bottom: 30px;
		letter-spacing: -2px;
	}
	&.style-5 {
		line-height: 1;
		.widget-heading {
			background-image: none;
			font-size: 100px;
			padding-bottom: 0;
			line-height: 1;
			span {
				line-height: 1;
				display: block;
				> span {
					line-height: 80px;
				}
			}
			.description,
			.widget-desc {
				margin: 0;
				font-size: 30px;
				font-style: italic;
				font-family: $font-family-base;
				font-weight: 300;
				text-transform: none;
				letter-spacing: -1px;
			}
		}
	}
	&.style-4 {
		margin-bottom: 20px;
		.widget-heading {
			padding-bottom: 0;
			margin-bottom: 0;
			font-size: 30px;
			letter-spacing: -1px;
			text-align: inherit;
			&:after {
				content: none;
			}
		}
	}
	&.style-3 {
		margin-bottom: 15px;
		.widget-heading {
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0px;
		}
	}
	&.style-2 {
		margin-bottom: 30px;
		.widget-heading {
			padding-bottom: 0;
			&:after {
				content: none;
			}
		}
	}
}
.vc_btn3.vc_btn3-size-md {
	font-weight: 700;
}
.feature-box-v1 {
	background-color: #fff;
	padding: 15px 30px 10px;
}
.testimonials {
	&.testimonials-v2 {
		color: #fff;
		.testimonials-body {
			background-color: transparent;
			padding: 0 60px 120px;
			.testimonials-description p {
				font-family: $font-family-base;
			}
			.testimonials-profile {
				.name {
					color: #fff;
					font-size: 14px;
					font-weight: 400;
					font-family: $font-family-base;
				}
				.entry-date {
					color: #fff;
				}
			}
		}
		div {
			h4 {
				color: #fff;
				font-size: 24px;
				font-weight: 400;
				font-family: $font-family-base;
			}
		}
	}
}

.widget.frontpage-4 {
	article {
		.entry-excerpt,
		.entry-date {
			display: none;
		}
	}
}
.pbr-breadscrumb-inner .breadcrumb > li + li::before, 
.pbr-breadscrumb-inner .breadcrumb > a + li::before {
	margin-top: -2px;
}
.pbr-contact-information .item p label {
	color: $theme-color-second;
}
.widget_pbr_recent_post .item-post.media .media-body .entry-title {
	font-size: 16px;
}