// Core variables and mixins
@import "../../bootstrap/variables";
@import "vars/vars";
@import "../../bootstrap/mixins";

@import "../../components/mixins";
@import "../../components/variables";
@import "../../opalhotel/3rd";

@import "../../opalhotel/styles";
@import "../../opalhotel/form";
@import "../../opalhotel/widgets";

.opalhotel-comment-form .comment-form-author, 
.opalhotel-comment-form .comment-form-email {
	width: 49.72%;
}

.horizontal-form {
	background-color: $theme-color;
}

.button.button-theme {
	background-color: $theme-color-second;
}

.opalhotel_form_section {
	padding: 0;
}
.button.button-primary-inverse {
	font-size: 12px;
	font-weight: 900;
}