/*
Theme Name: paradise
Theme URI: http://www.wpopal.com/product/paradise/
Author: Opal Team
Author URI: https://www.wpopal.com/
Description: In 2016, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: paradise

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*------------------------------------------------------------------
[Table of contents]
1. Utilities
2. Base
3. Layout
4. Page
5. Post
6. Form
7. Responsive
8. Widget

-------------------------------------------------------------------*/
@import "../../bootstrap";

@import "../../components/variables";
@import "vars/vars";

/* Core CSS*/
@import "../../bootstrap/scaffolding";
@import "../../bootstrap/type";
@import "../../bootstrap/forms";
@import "../../bootstrap/buttons"; 

/* 1. Utilities */
@import "../../components/mixins";

/* 2. Base */
@import "../../components/base";
@import "../../components/typo";

/* 3. Layout */
@import "../../components/template-layout";
@import "../../components/widget-layout";

/* 8. Widget */
@import "../../components/widgets";
@import "../../components/nav";

/* 4. Page */
@import "../../components/page";

/* 5. Post */
@import "../../components/post-formats";
@import "../../components/post-single";
@import "../../components/custom-posttype";
@import "../../components/events";

/* 6. Form */
@import "../../components/elements";
@import "../../components/vc";

/* 7. Responsive */
@import "../../components/responsive";

body {
	font-weight: $font-weight-base;
}
.widget-text-heading {
	text-transform: none;
	margin-bottom: 20px;
	.widget-heading {
		background-image: none;
		padding-bottom: 0;
		font-size: 48px;
		font-weight: 400;
		letter-spacing: -2px;
		> span {
			position: relative;
			display: inline-block;
			&.description,
			&.widget-desc {
				display: block;
				@include rtl-padding-left(0px);
				&:before {
					content: none;
				}
			}
		}
	}
	.description,
	.widget-desc {
		text-transform: none;
		margin-top: 10px;
	}
	&.style-3 {
		margin-bottom: 15px;
		.widget-heading {
			font-size: 20px;
			text-transform: none;
			letter-spacing: 0;
			font-weight: 700;
			> span {
				@include rtl-padding-left(0px);
				&:before {
					content: none;
				}
			}
		}
	}
	&.style-5 {
		margin-bottom: 30px;
		.widget-heading {
			background-image: none;
			font-size: 36px;
			font-weight: 700;
			box-direction: normal;
			-moz-box-direction: normal;
			-webkit-box-direction: normal;
			box-orient: vertical;
			-moz-box-orient: vertical;
			-webkit-box-orient: vertical;
			display: flex;
			flex-direction: column;
			> span {
				@include rtl-padding-left(0);
				padding-bottom: 15px;
				&:before {
					@include rtl-left(50%);
					@include rtl-margin(0,0,0,-20px);
					top: auto;
					bottom: 0;
				}
				&.description,
				&.widget-desc {
					padding: 0;
					color: $light-gray;
					font-weight: 400;
					text-transform: uppercase;
					font-size: 14px;
					box-ordinal-group: 2;
					-webkit-box-ordinal-group: 2;
					-moz-box-ordinal-group: 2;
					order: -1;
					margin: 0 0 5px;
					letter-spacing: -1px;
				}
			}
		}
	}
	&.style-6 {
		.widget-heading {
			font-size: 40px;
		}
	}
	&.style-8 {
		.widget-heading {
			padding-top: 40px;
		}
		.description,
		.widget-desc {
			text-transform: uppercase;
		}
	}
	&.style-7,
	&.style-2,
	&.style-4,
	&.style-8 {
		.widget-heading {
			> span {
				@include rtl-padding-left(0px);
				&:before {
					content: none;
				}
			}
		}
	}
}

.bo-social-icons {
	margin: -10px -7.5px 0;
	[class^="bo-social-"] {
		margin: 15px 7.5px 0;
	}
}

.wpb_text_column p {
	line-height: 28px;
}

.widget.widget-events-list {
	.event-item {
		background-color: #fff;
		border-top: none;
		margin-top: 10px;
		padding: 30px;
		.tribe-events-inner .tribe-events-list-event-title {
			font-size: 24px;
			font-weight: 600;
		}
		&:first-child {
			padding-top: 30px;
		}
	}
}

.testimonials.testimonials-v4 {
	margin-left: -15px;
	margin-right: -15px;
	.testimonials-body {
		text-align: left;
		padding: 0;
		letter-spacing: 0;
		.testimonials-quote {
			background-color: transparent;
			padding: 0;
			letter-spacing: 0;
			p {
				font-style: normal;
				line-height: 36px;
			}
		}
		&.testimonials-v4 {
			.subject {
				font-weight: 800;
			}
			.testimonials-profile {
				@include rtl-text-align-left();
				overflow: hidden;
				@include rtl-padding(5px,0,0,5px);
				.testimonials-avatar {
					position: static;
					@include rtl-float-left();
					@include rtl-margin-right(20px);
				}
				.testimonial-meta {
					overflow: hidden;
					.name {
						font-weight: 700;
						margin-top: 25px;
					}
					.entry-date {
						color: #666;
						font-weight: 700;
						font-family: $headings-font-family;
					}
				}
			}
		}
	}
	.owl-pagination {
		@include rtl-text-align-left();
		@include rtl-padding-left(15px);
	}
	.owl-controls .owl-page span {
		background-color: #eaeaea;
	}
}
.tribe-events-list .tribe-events-loop .tribe-events-list-event-title,
article.post .entry-title {
	font-size: 24px;
	font-weight: 600;
}
.pbr-breadscrumb-inner .breadcrumb > li + li::before, 
.pbr-breadscrumb-inner .breadcrumb > a + li::before,
.pbr-footer .widget ul > li::before, 
.pbr-footer .widget ul.navbar-nav > li::before {
	margin-top: -3px;
}
.widget_pbr_recent_post .item-post.media .media-body .entry-title {
	font-size: 16px;
	font-weight: 600;
}
.sidebar .widget .widget-title,
.comments .comments-title,
.comments .comment-reply-title {
	font-size: 20px;
}
.nav-links a > div {
	font-weight: 600;
}
#pbr-topbar i, #pbr-topbar .fa {
	color: #fff;
}
#pbr-topbar a:hover {
	color: $theme-color-second;
}

@media screen and (max-width: 799px) {
	.widget-text-heading .widget-heading {
        > span {
            @include rtl-padding-left(60px);
        }
    }
}