/* Vertical Reservation Form */
.widget.widget_opalhotel-check-available {
	background-color: #040836;
	background-image: url('#{$image-theme-path}background-010.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 35px 30px 45px;
	.widget-title {
		color: $white;
		background-image: none;
		padding: 0;
		margin-bottom: 15px;
	}
	.opalhotel_form_section {
		padding: 0;
		background-color: transparent;
		footer {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.opalhotel-form-field {
		margin-bottom: 10px;
		padding: 0;
		.opalhotel-form-lable {
			font-size: 12px;
			font-weight: 400;
			color: $white;
			margin-bottom: 5px;
		}
		.opalhotel-form-field-group {
			i {
				@include rtl-right(15px);
				top: 15px;
			}
			input,
			select {
				@include rtl-padding(7px,40px,7px,15px);
				line-height: 36px;
			}
		}
	}
	footer {
		padding-top: 10px;
	}
}



/**
 * Horizontal Booking Form
 */
.horizontal-form {
	background: #040836;
	clear: both;
	header{
		float: left;
		margin: 20px 25px;
		&.heading-form {
			margin: 0;
			padding: 35px 40px;
			border-right: 1px solid rgba($white,.2);
			h3 {
				color: $white;
				font-size: 24px;
				span {
					font-style: italic;
					font-weight: 300;
				}
			}
		}
	}
	h3{
		padding:0;
		margin: 0;
		span{
			display: block;
		}
	}
	.form-content {
		padding: 0 15px;
		overflow: hidden;
		display: block;
		position: relative;
		.opalhotel-form-field {
			margin: 0;
			padding: 18px 5px;
			width: 20%;
			float: left;
			display: block;
			&.adults-input,
			&.children-input {
				width: 10%;
			}
			label {
				color: $white;
				font-size: 12px;
				font-weight: 400;
				letter-spacing: 2px;
				margin-bottom: 5px;
			}
			.opalhotel-form-field-group {
				i {
					top: 17px;
					right: 15px;
				}
			}
			&.button-wrap {
				padding-top: 44px;
			}
		}
	}
}